+include-style('products-slider')
+include-script('products-slider')

// offers не выводятся
.products-slider
	.container
		.products-slider__header
			h3.section-title
				span Мы рекомендуем
		+splide({
			mod: 'products-slider__slider js-splide-products'
		})
			each item in [1,2]
				+splide-slide()
					+product-card2({
						title: 'Бразилия Велосо Колекта',
						in_basket: true,
						no_rating: true,
						active:  true,
						badges: 2,
						no_price_old: true,
					})
				+splide-slide()
					+product-card2({
						title: 'Бразилия Велосо Колекта',
						in_basket: false,
						badges: 1,
					})
				+splide-slide()
					+product-card2({
						title: 'Бразилия Велосо Колекта',
						in_basket: false,
						badges: 1,
					})