extends ../../layout/layout

block vars
    - var pageTitle = '404'
    - var pageBodyClass = ''
    - var dir = './'


block premain


block main
    .btn(data-target='#modal-debit' data-toggle="modal") Модалка
        br
        br
    .btn(data-target='#modal-delivery' data-toggle="modal") Модалка доставка
    include ../../components/404/404

block pageModal
    include ../../components/modal/debet/modal-debet
    include ../../components/modal/delivery/modal-delivery

block componentsCriticalStyles
    +componentsCriticalStyles-includer()
block vendorScripts
    +vendorScripts-includer()
block componentsStyles
    +style-includer()
block componentsScripts
    script(src="./js/vendor/nouislider.min.js" defer)
    +componentsScripts-includer()
