+include-style('vk-section')

-
    var items = [
        {
            date: '01.08.2022',
            title: 'Просто запустите свой сайт Сайты бывают разные. Мы предлагаем те, которые не нуждаются в разработке. Поэтому запустить их так просто. С 1 по 31 августа даем скидку до 20% на готовые решения Аспро и 1С-Битрикс.  Вам не нужно брать в голову то, что можно доверить готовому сайту. Сфокусируйтесь на стратегически важных вещах. Все остальное возьмет на себя решение: от дизайна до продуманного функционала. Тематики, Умный SEO, прием платежей и многое другое. Предлагаем быстрый запуск, легкие настройки дизайна и функционал на будущее. Запускайте свой онлайн-проект и приготовьтесь к прибыльной атаке. Подробнее про акцию: https://clck.ru/sSS36 #sale@aspro74 #aspro_ru #малый_бизнес #готовыесайты',
            img: 'vk-1.jpg',
            icon: 'socials/i-insta.svg',
        },
        {
            date: '19.08.2022',
            title: 'Просто запустите свой сайт Сайты бывают разные. Мы предлагаем те, которые не нуждаются в разработке. Поэтому запустить их так просто. С 1 по 31 августа даем скидку до 20% на готовые решения Аспро и 1С-Битрикс.  Вам не нужно брать в голову то, что можно доверить готовому сайту. Сфокусируйтесь на стратегически важных вещах. Все остальное возьмет на себя решение: от дизайна до продуманного функционала. Тематики, Умный SEO, прием платежей и многое другое. Предлагаем быстрый запуск, легкие настройки дизайна и функционал на будущее. Запускайте свой онлайн-проект и приготовьтесь к прибыльной атаке. Подробнее про акцию: https://clck.ru/sSS36 #sale@aspro74 #aspro_ru #малый_бизнес #готовыесайты',
            img: 'vk-2.jpg',
            icon: 'socials/i-vk.svg',
        },
        {
            date: '01.08.2022',
            title: 'Просто запустите свой сайт Сайты бывают разные. Мы предлагаем те, которые не нуждаются в разработке. Поэтому запустить их так просто. С 1 по 31 августа даем скидку до 20% на готовые решения Аспро и 1С-Битрикс.  Вам не нужно брать в голову то, что можно доверить готовому сайту. Сфокусируйтесь на стратегически важных вещах. Все остальное возьмет на себя решение: от дизайна до продуманного функционала. Тематики, Умный SEO, прием платежей и многое другое. Предлагаем быстрый запуск, легкие настройки дизайна и функционал на будущее. Запускайте свой онлайн-проект и приготовьтесь к прибыльной атаке. Подробнее про акцию: https://clck.ru/sSS36 #sale@aspro74 #aspro_ru #малый_бизнес #готовыесайты',
            img: 'vk-3.jpg',
            icon: 'socials/i-fb.svg',
        },
        {
            date: '19.08.2022',
            title: 'Просто запустите свой сайт Сайты бывают разные. Мы предлагаем те, которые не нуждаются в разработке. Поэтому запустить их так просто. С 1 по 31 августа даем скидку до 20% на готовые решения Аспро и 1С-Битрикс.  Вам не нужно брать в голову то, что можно доверить готовому сайту. Сфокусируйтесь на стратегически важных вещах. Все остальное возьмет на себя решение: от дизайна до продуманного функционала. Тематики, Умный SEO, прием платежей и многое другое. Предлагаем быстрый запуск, легкие настройки дизайна и функционал на будущее. Запускайте свой онлайн-проект и приготовьтесь к прибыльной атаке. Подробнее про акцию: https://clck.ru/sSS36 #sale@aspro74 #aspro_ru #малый_бизнес #готовыесайты',
            img: 'vk-4.jpg',
            icon: 'socials/i-tw.svg',
        },
    ]

.vk-section
    .container
        .vk-section__header
            h3.section-title
                a(href="#").section-title__link
                    span Мы ВКонтакте
                    span.icon-wrap
                        +icon('i-arrow-right')(style="height:12px;width:12px")
        .vk-section__inner
            each item in items
                a(href='#').vk-item
                    .vk-item__content
                        .vk-item__date
                            +lazy-img({
                                link: false,
                                wrap_mod: 'vk-item__icon-wrap',
                                img_mod: 'vk-item__icon',
                                img: item.icon,
                            })
                            span=item.date
                        .vk-item__title=item.title
                    +lazy-img({
                        link: false,
                        wrap_mod: 'vk-item__img-wrap',
                        img_mod: 'vk-item__img',
                        img: item.img,
                    })

