+include-style('services')

.services
    .container
        .service-product
            .service-product__img
                +lazy-img({
                    img: 'product-tea.png'
                })
            .service-product__content
                .page-top__header
                    h1.page-top__title Кофе под вашим брендом
                .service-product__desc
                    p Мы предлагаем оформить кофе свежей обжарки или чая в упаковку с вашим логотипом и дизайном этикетки для:
                    ul.service-product__desc
                        li брендированной сувенирной продукции
                        li подарков сотрудникам, коллегам, партнерам
                    p Вы можете выбрать любые сорта кофе или чая - наш ассортимент включает более 40 сортов кофе и более 50 сортов чая.
                    p Упаковку, ее внешний вид и наполнение (сорт кофе, чая), выбираете вы.
                    p Фасовка кофе возможна от 200 г. Фасовка чая – от 100г.


                .service-product__req
                    .service-product__req-img
                        <svg xmlns="http://www.w3.org/2000/svg" width="63" height="74" viewBox="0 0 63 74" fill="none">
                        <path d="M54.6529 4H3.92001C3.58667 4 3.31641 4.27026 3.31641 4.6036V70.3964C3.31641 70.7297 3.58667 71 3.92001 71H54.6831C54.9954 70.9846 55.2444 70.7331 55.2565 70.4205V4.6036C55.2565 4.27026 54.9862 4 54.6529 4ZM16.2697 7.37414V5.20721H42.2971V7.37414C42.2982 7.54346 42.29 7.71277 42.273 7.88117H16.2697C16.2607 7.71231 16.2607 7.543 16.2697 7.37414ZM42.0074 9.08838C41.2754 11.2245 39.2676 12.6599 37.0096 12.6617H21.5332C19.2751 12.6599 17.2673 11.2245 16.5353 9.08838H42.0074ZM21.5332 13.8689H37.0096C39.9337 13.8645 42.4951 11.9083 43.2689 9.08838H50.3371V65.9358H8.2056V9.08838H15.2738C16.0476 11.9083 18.609 13.8645 21.5332 13.8689ZM4.52361 69.8169V5.23135H15.0384V7.39829C15.0384 7.5673 15.0384 7.73631 15.0384 7.90532H7.60199C7.26865 7.90532 6.99839 8.17558 6.99839 8.50892V66.5635C6.99839 66.8969 7.26865 67.1671 7.60199 67.1671H50.9407C51.2741 67.1671 51.5443 66.8969 51.5443 66.5635V8.48477C51.5443 8.15143 51.2741 7.88117 50.9407 7.88117H43.4802C43.4802 7.71216 43.4802 7.54315 43.4802 7.37414V5.20721H54.0251L54.0493 69.8169H4.52361Z" fill="#8A6048"/>
                        <path d="M45.0728 20.8887H28.7755C28.4421 20.8887 28.1719 21.1589 28.1719 21.4923C28.1719 21.8256 28.4421 22.0959 28.7755 22.0959H45.0728C45.4061 22.0959 45.6764 21.8256 45.6764 21.4923C45.6764 21.1589 45.4061 20.8887 45.0728 20.8887Z" fill="#8A6048"/>
                        <path d="M35.6083 24.9639H28.7755C28.4421 24.9639 28.1719 25.2341 28.1719 25.5675C28.1719 25.9008 28.4421 26.1711 28.7755 26.1711H35.6083C35.9416 26.1711 36.2119 25.9008 36.2119 25.5675C36.2119 25.2341 35.9416 24.9639 35.6083 24.9639Z" fill="#8A6048"/>
                        <path d="M25.7554 18.6007C25.5504 18.3357 25.1693 18.287 24.9044 18.4921H24.9164L22.7495 20.1822V18.8663C22.7495 18.533 22.4792 18.2627 22.1459 18.2627H12.8263C12.4929 18.2627 12.2227 18.533 12.2227 18.8663V28.1859C12.2227 28.5193 12.4929 28.7895 12.8263 28.7895H22.1459C22.4792 28.7895 22.7495 28.5193 22.7495 28.1859V21.7093L25.6468 19.4518C25.9118 19.2467 25.9605 18.8657 25.7554 18.6007ZM21.5423 27.5823H13.4299V19.4699H21.5423V21.1177L17.474 24.2746L15.464 22.174C15.2291 21.9323 14.8426 21.927 14.6009 22.162C14.3591 22.3969 14.3538 22.7834 14.5888 23.0251L17.0032 25.512C17.1165 25.6309 17.2735 25.6985 17.4378 25.6991C17.5704 25.694 17.6978 25.6451 17.8 25.5603L21.5544 22.6449L21.5423 27.5823Z" fill="#8A6048"/>
                        <path d="M45.0884 36.0762H28.7911C28.4578 36.0762 28.1875 36.3464 28.1875 36.6798C28.1875 37.0131 28.4578 37.2834 28.7911 37.2834H45.0884C45.4217 37.2834 45.692 37.0131 45.692 36.6798C45.692 36.3464 45.4217 36.0762 45.0884 36.0762Z" fill="#8A6048"/>
                        <path d="M35.6083 40.1494H28.7755C28.4421 40.1494 28.1719 40.4197 28.1719 40.753C28.1719 41.0864 28.4421 41.3566 28.7755 41.3566H35.6083C35.9416 41.3566 36.2119 41.0864 36.2119 40.753C36.2119 40.4197 35.9416 40.1494 35.6083 40.1494Z" fill="#8A6048"/>
                        <path d="M25.7524 33.7901C25.5474 33.5268 25.1677 33.4794 24.9044 33.6844H24.9164L22.7495 35.3685V34.0587C22.7495 33.7253 22.4792 33.4551 22.1459 33.4551H12.8263C12.4929 33.4551 12.2227 33.7253 12.2227 34.0587V43.3783C12.2227 43.7117 12.4929 43.9819 12.8263 43.9819H22.1459C22.4792 43.9819 22.7495 43.7117 22.7495 43.3783V36.9077L25.6468 34.6381C25.9101 34.4331 25.9575 34.0534 25.7524 33.7901ZM21.5423 42.7747H13.4299V34.6623H21.5423V36.3041L17.474 39.4609L15.464 37.3664C15.2292 37.1298 14.8471 37.1282 14.6104 37.363C14.6092 37.3642 14.6079 37.3652 14.6069 37.3664C14.3728 37.6018 14.3728 37.9821 14.6069 38.2175L17.0213 40.7104C17.2353 40.9357 17.5852 40.9618 17.8301 40.7708L21.5845 37.8553L21.5423 42.7747Z" fill="#8A6048"/>
                        <path d="M22.1459 48.6426H12.8263C12.4929 48.6426 12.2227 48.9128 12.2227 49.2462V58.5658C12.2227 58.8992 12.4929 59.1694 12.8263 59.1694H22.1459C22.4792 59.1694 22.7495 58.8992 22.7495 58.5658V49.2462C22.7495 48.9128 22.4792 48.6426 22.1459 48.6426ZM21.5423 57.9622H13.4299V49.8498H21.5423V57.9622Z" fill="#8A6048"/>
                        <path d="M45.0884 51.2686H28.7911C28.4578 51.2686 28.1875 51.5388 28.1875 51.8722C28.1875 52.2055 28.4578 52.4758 28.7911 52.4758H45.0884C45.4217 52.4758 45.692 52.2055 45.692 51.8722C45.692 51.5388 45.4217 51.2686 45.0884 51.2686Z" fill="#8A6048"/>
                        <path d="M35.6083 55.3428H28.7755C28.4421 55.3428 28.1719 55.613 28.1719 55.9464C28.1719 56.2797 28.4421 56.55 28.7755 56.55H35.6083C35.9416 56.55 36.2119 56.2797 36.2119 55.9464C36.2119 55.613 35.9416 55.3428 35.6083 55.3428Z" fill="#8A6048"/>
                        </svg>
                    .service-product__req-content
                        h4 Оформить заявку
                        p Оформите заявку на сайте, мы свяжемся с вами в ближайшее время и ответим на все интересующие вопросы
                    .service-product__req-btn
                        .btn(data-toggle="modal" data-target="#modal-feedback") Заказать услугу




