+include-style('services')

-
    var items = [
        {
            img: 'services-1.png',
            title: 'Аренда кофемашин',
            desc: 'Мы предоставляем профессиональные кофемашины в аренду для офисов и ресторанов, при условии покупки кофе у нас'
        },
        {
            img: 'services-2.png',
            title: 'Брендированный кофе',
            desc: 'А может хотите варить и продавать свой кофе в заведении?<br>Хотите оригинальный подарок для сотрудников или партнеров?'
        },
        {
            img: 'services-3.png',
            title: 'Оптовые поставки в офис или ресторан',
            desc: 'Более 1000 компаний выбирают Roast.by! Пусть любимый сорт вариться и на работе, и дома'
        }
    ]

.services
    .container

        .services__grid
            each item in items
                +service-card({
                    img: item.img,
                    title: item.title,
                    desc: item.desc
                })