@import "src/assets/css/vars_mixins/vars_mixins";

.services {
  padding-bottom: 80px;
  &__grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
  }

	&__descr{
		margin-bottom: 30px;
		font-weight: 600;
		font-size: 1.625rem;
	}
}

.service-block{
	display: grid;
	grid-template-columns: 1fr 1fr;
	background: #242424;
	color: #ffffff;
	margin-bottom:  80px;
	@media (max-width: $md - 1) {
		grid-template-columns: 100%;
	}
	@media (max-width: $sm - 1) {
		margin-bottom: 60px;
	}
	&__content{
		padding: 60px;
		@media (max-width: $md - 1) {
			padding: 40px;
		}

		@media (max-width: $sm - 1) {
			padding: 40px 20px;
		}
	}
	&__img{
		position: relative;
		@media (max-width: $md - 1) {
			height: 260px;
		}
		@media (max-width: $sm - 1) {
			height: 200px;
		}
		.lazy-img-wrap{
			position: absolute;
			inset: 0;
		}
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__title{
		font-size: 1.625rem;
		font-weight: 600;
		margin-bottom: 30px;
	}
	&__item{
		&:not(:last-child){
			margin-bottom: 60px;
			@media (max-width: $sm - 1) {
				margin-bottom: 45px;
			}
		}
	}

	&__places,
	&__steps{
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 20px 40px;
	}
	&__places{
		@media (max-width: $sm - 1) {
			display: flex;
			overflow: auto;
			gap: 30px;
		}
	}
	&__steps{
		@media (max-width: $sm - 1) {
			grid-template-columns: 100%;
		}
	}
	&__row{
		display: flex;
		align-items: center;
		gap: 15px;
		@media (max-width: $sm - 1) {
			flex-shrink: 0;
		}
		&-icon{
			width: 37px;
			height: 37px;
			flex-shrink: 0;
			position: relative;
			.lazy-img-wrap{
				position: absolute;
				inset: 0;
				img{
					width: 100%;
					height: 100%;
					object-fit: contain;
				}
			}
		}
		&-number{
			display: flex;
			align-items: center;
			justify-content: center;
			width: 35px;
			height: 35px;
			border-radius: 50%;
			background-color: #424242;
			font-weight: 700;
			font-size: 12px;
			flex-shrink: 0;
		}
	}
}

.service-device{
	margin-bottom: 100px;
	@media (max-width: $sm - 1) {
		margin-bottom: 60px;
	}

}
.service-slider{
	.device-card{
		height: 100%;
		width: 100%;
	}
	&__slider{
		&:not(.is-overflow){
			.splide__arrows{
				display: none;
			}
		}
		.splide__track{
			@media (min-width: $md){
				padding-top: 5px;
				padding-bottom: 20px;
			}
		}
	}
}


// 1199.75
@media (max-width: $lg) {
  .services {
    &__grid {
      grid-template-columns: repeat(2,1fr);
    }
  }
}
// 991.75
@media (max-width: $md) {}
// 767.75
@media (max-width: $sm) {}
// 600.75
@media (max-width: $xs) {
  .services {
    &__grid {
      grid-template-columns: repeat(1,1fr);
	    gap: 15px;
    }
  }
}