+include-style('index-tabs')

.index-tabs
  .container
    .index-tabs__header
      h3.section-title
        span Мы рекомендуем
      .tabs-nav
        .tabs-nav__list
          .tabs-nav__item.active Кофе
          .tabs-nav__item Чай
          .tabs-nav__item Аксессуары
    include ../../components/products-slider/products-slider-notitle