@import "src/assets/css/vars_mixins/vars_mixins";

.index-tabs {
  padding-top: 110px;
  padding-bottom: 110px;
  @media (max-width: $md) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  &__header {
    margin-bottom: 31px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  &__inner {
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .products-slider {
    padding-bottom: 0;
  }
}

.tabs-nav {
  &__list {
    white-space: nowrap;
    display: flex;
    margin: 0 -4px;
    width: calc(100% + 8px);
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 90px;
    height: 38px;
    color: $basic_black;
    padding: 9px 20px 10px 20px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    &.active {
      color: $basic_black;
      background-color: #f8f8f8;

      &:hover {
        color: $basic_black;
        cursor: default;
      }
    }
    &:hover {
      color: $accent;
    }
  }
}

// 1199.75
@media (max-width: $lg) {
  .index-tabs {
    &__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
// 991.75
@media (max-width: $md) {
  .index-tabs {
    &__grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
// 767.75
@media (max-width: $sm) {
  .index-tabs {
    padding-top: 40px;
    padding-bottom: 40px;
    &__header {
      flex-wrap: wrap;
    }
    &__grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .tabs-nav {
    // margin-right: -15px;
    // margin-top: 20px;
    // overflow: hidden;
    // overflow-x: auto;
    // @include scroll();
  }
  .tabs-nav__list {
    display: flex;
    justify-content: space-between;
  }
}
// 600.75
@media (max-width: $xs) {
  .tabs-nav {
    margin-right: -15px;
    margin-top: 20px;
  }
  .index-tabs {
    &__grid {
      display: flex;
      overflow: auto;
      padding: 15px 24px !important;
      margin: -15px -24px !important;
      grid-gap: 0;
    }
  }
}
