extends ../../layout/layout

block vars
    - var pageTitle = 'О компании'
    - var pageBodyClass = ''
    - var dir = './'


block premain
    .container
        .page-top
            +breadcrumbs({
                content2: 'О компании',
                href_content2: '',
                content3: ''
            })
            .page-top__header
                h1.page-top__title Компания
    .container
        +tabs({
            list: [
                {
                    name: 'О компании',mod: 'active'

                },
                {name: 'Команда', },
                {name: 'Отзывы'},
                {name: 'Контакты'},
            ]
        })
block main

    include ../../components/company/company
    include ../../components/tizers-section/tizers-section

    include ../../components/subscription/subscription


block pageModal

block componentsCriticalStyles
    +componentsCriticalStyles-includer()
block vendorScripts
    +vendorScripts-includer()
block componentsStyles
    +style-includer()
block componentsScripts
    +componentsScripts-includer()
