+include-style('brand')
+include-script('brand')

.brand.container
    .brand__info
        .brand__info-img-wrap
            +lazy-img({
                wrap_mod: 'brand__info-img',
                img: `brand-1.png`
            })
        //.brand__info-content
        //    .brand__info-content-inner Вега — фабрика, которая изготавливает мебель для изысканных интерьеров класса «Люкс». В производстве используются редкие виды деревьев и проводится оценка качества на каждом этапе изготовления. Фабрика Вега начинала с мебели ручной работы и за 10 лет выросла в промышленное предприятие. Шкафы для изысканных интерьеров класса «Люкс» изготавливаются из редких видов дерева и выглядят очень дорого. Такая мебель впишется в новые футуристичные архитектуры жилых домов и общественных пространств. Направление перспективное и будет пользоваться большим успехом в ближайшие десятилетия. Идите в ногу со временем и будьте в тренде с новой мебелью!
        //    div
        //        a(href="#").brand__info-link aspro.ru


        .brand__info-content(
            x-data="brand"
            :class="isOpenedText ? 'opened' : ''")
            .brand__info-content-inner Вега — фабрика, которая изготавливает мебель для изысканных интерьеров класса «Люкс». В производстве используются редкие виды деревьев и проводится оценка качества на каждом этапе изготовления. Фабрика Вега начинала с мебели ручной работы и за 10 лет выросла в промышленное предприятие. Шкафы для изысканных интерьеров класса «Люкс» изготавливаются из редких видов дерева и выглядят очень дорого. Такая мебель впишется в новые футуристичные архитектуры жилых домов и общественных пространств. Направление перспективное и будет пользоваться большим успехом в ближайшие десятилетия. Идите в ногу со временем и будьте в тренде с новой мебелью!
            .brand__info-more(@click="isOpenedText = ! isOpenedText" x-cloak x-show="isShow")
                template(x-if="!isOpenedText")
                    span Подробнее
                template(x-if="isOpenedText")
                    span Скрыть
            div
                a(href="#").brand__info-link aspro.ru