+include-style('catalog-filters')


.catalog-filters
    .catalog-filters__inner
        a(href='#').catalog-filter
            span Недорогие смартфоны
        a(href='#').catalog-filter
            span Недорогие смартфоны
        a(href='#').catalog-filter
            span Недорогие смартфоны
        a(href='#').catalog-filter
            span Недорогие смартфоны
        a(href='#').catalog-filter
            span Недорогие смартфоны
        a(href='#').catalog-filter
            span Недорогие смартфоны
        a(href='#').catalog-filter
            span Недорогие смартфоны
        a(href='#').catalog-filter
            span Недорогие смартфоны
        a(href='#').catalog-filter
            span Недорогие смартфоны
