+include-style('catalog-filters')


.catalog-filters
    .catalog-filters__inner
        a(href='#').catalog-filter
            span Хорош в чашке
        a(href='#').catalog-filter
            span Без кислинки
        a(href='#').catalog-filter
            span Не потеряется в молоке
        a(href='#').catalog-filter.active
            span Подходит для турки
        a(href='#').catalog-filter
            span Кофе до 17 рублей
        a(href='#').catalog-filter
            span Яркий фильтр
        a(href='#').catalog-filter
            span Кофейные новинки
        a(href='#').catalog-filter
            span Яркий эспрессо
        a(href='#').catalog-filter
            span Рекомендуем для первого знакомства
        a(href='#').catalog-filter
            span Классический эспрессо  
