@import "src/assets/css/vars_mixins/vars_mixins";

.catalog-filters {
  margin-bottom: 35px;

  &__inner {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    @media (max-width: $sm - 1) {
      margin-right: -15px;
      overflow: auto;
      flex-wrap: nowrap;
      @include scroll();
    }
  }
}

.catalog-filter {
  padding: 7px 15px 9px 15px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color ease 0.3s;
  background-color: #f8f8f8;
  color: $basic_black;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 50px;

  &:hover {
    color: #fff;
    background-color: $accent;
  }
  &.active {
    color: #fff;
    background-color: $basic_black;
  }
  span {
    white-space: nowrap;
  }
}
