extends ../../layout/layout

block vars
    - var pageTitle = 'Компания'
    - var pageBodyClass = ''
    - var dir = './'


block premain
    .container
        .page-top
            +breadcrumbs({
                content2: 'Компания',
                href_content2: '',
                content3: ''
            })
            .page-top__header
                h1.page-top__title Компания
    .container
        +tabs({
            list: [
                {
                    name: 'О компании',

                },
                {name: 'Команда', mod: 'active'},
                {name: 'Отзывы'},
                {name: 'Контакты'},
            ]
        })
block main
    include ../../components/staff/staff
    include ../../components/subscription/subscription


block pageModal

block componentsCriticalStyles
    +componentsCriticalStyles-includer()
block vendorScripts
    +vendorScripts-includer()
block componentsStyles
    +style-includer()
block componentsScripts
    +componentsScripts-includer()
