+include-style('line-content')

.container.container--sm
    .line-content
        .line-content__left
            h3.line-content__title Заказать услугу
            .line-content__text Оформите заявку на услугу, мы свяжемся с вами в ближайшее время и ответим на все интересующие вопросы.
        .line-content__right
            button.btn Заказать услугу
            .btn.btn-bordered ?