+include-style('company')
+include-style('content')

.container
    .company-top
        .company-top__img
            +lazy-img({
                img: 'about-company.png'
            })
        .company-top__content.content
            h3 Меня зовут Вячеслав Жадан и я один из основателей проекта ROAST.BY
            p Это семейный проект, который родился в результате большой любви – любви к кофе — напитку который вдохновляет, пробуждает и мотивирует, согревает душу и тело.
            p Семь лет я проработал в компании, которая занимается обжаркой кофе. Последние три года я работал на должности заместителя директора по производству, участвовал в закупках сырья, наладке оборудования, первых обжарках. Я посетил около двух десятков тематических выставок, прошел ряд обучающих курсов начиная от итальянской компании Sandalj и до известных в наших широтах бариста и специалистов по обжарке кофе.
            p И все это время я наблюдал, как крупные игроки вытесняют с полок магазинов качественные, но нераскрученные кофейные бренды.
            p Я твердо решил, что должен создать свой проект, который сделает качественный свежеобжаренного кофе доступным для всех. Так родился наш сервис ROAST.BY. Он создан, чтобы максимально сократить путь свежеобжаренного кофе, от зеленого зерна до чашки эспрессо у Вас дома.
            h5 Я благодарю Вас за доверие и поддержку. И верю, что вы обязательно подберёте зерно для своей идеальной чашки.

    .company-info.content
        h3 Обжарщики кофе Roast.by - это команда единомышленников, собравшихся чтобы создать лучшую компанию по обжарке кофе
        h5 Обжариваем кофе на трех ростерах:
        ul
            li Giesen W30A (Нидерланды)
            li IMF RM15 (Италия)
            li Coffed PR3 (Польша/Германия)

        p Процесс обжарки контролируем через Artisan, меряем влажность зерна с помощью Wile (Финляндия) и степень обжарки с помощью колориметра Lighttells (Тайвань).
        p Используем дестонер для очистки кофе от посторонних предметов. Кофе упаковываем в трехслойные пакеты с клапаном. Помол делаем на промышленной кофемолке Mahlkonig vta6 (Германия).

    .company-imgs
        +lazy-img({
            img: 'about-img1.png',
            wrap_mod: 'company-imgs__item'
        })
        +lazy-img({
            img: 'about-img2.png',
            wrap_mod: 'company-imgs__item'
        })

