mixin news-card(args={})
    +include-style('mixin__news-card')
    a(href="#").news-card
        .news-card__img
            +lazy-img({
                wrap_mod: 'service-item__img-wrap',
                img: args.img,
            })
        .news-card__content
            .news-card__info
                .news-card__tag Новости Roast.by
                .news-card__date
                    <svg class="icon" style="height:19px;width:19px" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M6.77715 1.0353C6.77715 0.703932 6.50852 0.435303 6.17715 0.435303C5.84578 0.435303 5.57715 0.703932 5.57715 1.0353V1.78743C4.54764 1.97817 3.7153 2.40156 3.09648 3.04997C2.23067 3.95718 1.87109 5.21286 1.87109 6.61088V13.9893C1.87109 15.3873 2.23067 16.643 3.09648 17.5502C3.9673 18.4626 5.26097 18.9295 6.93188 18.9295H14.0691C15.74 18.9295 17.0337 18.4626 17.9045 17.5502C18.7703 16.643 19.1299 15.3873 19.1299 13.9893V6.61088C19.1299 5.21286 18.7703 3.95718 17.9045 3.04997C17.2857 2.40152 16.4532 1.97811 15.4236 1.78739V1.0353C15.4236 0.703932 15.155 0.435303 14.8236 0.435303C14.4923 0.435303 14.2236 0.703932 14.2236 1.0353V1.672C14.1725 1.6711 14.121 1.67065 14.0691 1.67065H6.93188C6.87994 1.67065 6.82836 1.67111 6.77715 1.67201V1.0353ZM5.57715 3.01273V3.50589C5.57715 3.83726 5.84578 4.10589 6.17715 4.10589C6.50852 4.10589 6.77715 3.83726 6.77715 3.50589V2.8722C6.82806 2.87117 6.87964 2.87065 6.93188 2.87065H14.0691C14.1213 2.87065 14.1728 2.87117 14.2236 2.8722V3.50589C14.2236 3.83726 14.4923 4.10589 14.8236 4.10589C15.155 4.10589 15.4236 3.83726 15.4236 3.50589V3.01267C16.1389 3.18029 16.6623 3.48649 17.0364 3.87846C17.503 4.36737 17.7944 5.04947 17.8927 5.91919H3.10831C3.20658 5.04947 3.49798 4.36737 3.96458 3.87846C4.33863 3.48653 4.86202 3.18035 5.57715 3.01273ZM3.07109 7.11919V13.9893C3.07109 15.1954 3.38064 16.1098 3.96458 16.7217C4.54352 17.3283 5.48024 17.7295 6.93188 17.7295H14.0691C15.5208 17.7295 16.4575 17.3283 17.0364 16.7217C17.6204 16.1098 17.9299 15.1954 17.9299 13.9893V7.11919H3.07109ZM13.1319 10.5514C13.1319 10.22 13.4005 9.95142 13.7319 9.95142H13.7398C14.0711 9.95142 14.3398 10.22 14.3398 10.5514C14.3398 10.8828 14.0711 11.1514 13.7398 11.1514H13.7319C13.4005 11.1514 13.1319 10.8828 13.1319 10.5514ZM13.7319 13.2258C13.4005 13.2258 13.1319 13.4945 13.1319 13.8258C13.1319 14.1572 13.4005 14.4258 13.7319 14.4258H13.7398C14.0711 14.4258 14.3398 14.1572 14.3398 13.8258C14.3398 13.4945 14.0711 13.2258 13.7398 13.2258H13.7319ZM9.89851 10.5514C9.89851 10.22 10.1671 9.95142 10.4985 9.95142H10.5064C10.8377 9.95142 11.1064 10.22 11.1064 10.5514C11.1064 10.8828 10.8377 11.1514 10.5064 11.1514H10.4985C10.1671 11.1514 9.89851 10.8828 9.89851 10.5514ZM10.4985 13.2258C10.1671 13.2258 9.89851 13.4945 9.89851 13.8258C9.89851 14.1572 10.1671 14.4258 10.4985 14.4258H10.5064C10.8377 14.4258 11.1064 14.1572 11.1064 13.8258C11.1064 13.4945 10.8377 13.2258 10.5064 13.2258H10.4985ZM6.65633 10.5514C6.65633 10.22 6.92496 9.95142 7.25633 9.95142H7.26419C7.59556 9.95142 7.86419 10.22 7.86419 10.5514C7.86419 10.8828 7.59556 11.1514 7.26419 11.1514H7.25633C6.92496 11.1514 6.65633 10.8828 6.65633 10.5514ZM7.25633 13.2258C6.92496 13.2258 6.65633 13.4945 6.65633 13.8258C6.65633 14.1572 6.92496 14.4258 7.25633 14.4258H7.26419C7.59556 14.4258 7.86419 14.1572 7.86419 13.8258C7.86419 13.4945 7.59556 13.2258 7.26419 13.2258H7.25633Z" fill="#757575"/>
                    </svg>
                    span 26 октября 2023

            .news-card__title=args.title
            if(!args.slider)
                .news-card__footer
                    p Более миллиона людей пьют кофе каждый день. Кто-то готовит себе напиток дома, кто-то по принципу удобства выбирает кофейню рядом готовит себе напиток дома, кто-то по принципу удобства выбирает кофейню рядом

