+include-style('subscription')

.subscription
  .subscription__left
    .subscribe-block
      .subscribe-block__title Подписка на новости
      .subscribe-block__text Подпишитесь на наши новости, чтобы узнавать о новинках, скидках и новых статьях
      form.subscribe-block__form
        input(type="email" placeholder='Ваш E-mail').form-control
        button.btn.btn-wave.btn-white Подписаться
  .subscription__right