+include-style('aside-targets')

-
    var items = [
        'Детские товары',
        'Детям',
        'Домашние животные',
        'Женщинам',
       ' Коляски',
        'Кошки',
        'Кухня',
        'Лето',
        'Мужчин',
        'Новая коллекция',
        'Одежда',
        'Посуда',
        'Рукоделие',
        'Рыбалка',
        'Текстиль'
        ]

.aside-target
    for i in items
       .aside-target__item
           span=i
