extends ../../layout/layout

block vars
	- var pageTitle = 'Каталог'
	- var pageBodyClass = ''
	- var dir = './'


block premain
	.container
		.page-top
			+breadcrumbs({
				content2: 'Каталог',
				href_content2: '#',
				content3: 'Чай'
			})
			.page-top__header
				h1.page-top__title Чай

block main
	include ../../components/catalog/catalog
	include ../../components/subscription/subscription

block pageModal

block componentsCriticalStyles
	+componentsCriticalStyles-includer()
block vendorScripts
	+vendorScripts-includer()
block scripts
	script(src="./js/vendor/nouislider.min.js" defer)

block componentsStyles
	+style-includer()
block componentsScripts
	+componentsScripts-includer()
