extends ../../layout/layout

block vars
	- var pageTitle = 'Главная'
	- var pageBodyClass = ''
	- var dir = './'


block premain
	.container
		.page-top.page-top--center
			+breadcrumbs({
				content2: 'Авторизация',
				content2: 'Восстановление пароля',
			})
			.page-top__header
				h1.page-top__title Восстановление пароля


block main
	.main-inner
		.container
			.form-block-container
				form.form-block
					.form-block__descr Если вы забыли пароль, введите логин.
					+input({
						fg_mod:'form-group--margin',
						label_mod: 'form-control-label--small',
						label: 'Логин или email:',
						type: 'text',
						placeholder: false,
						required: true,
						pattern: false,
						validation: {
						message: 'Обязательное поле',
						regexp: 'Неверный формат',
						emailaddress: ' ',
						identical: false
						}
					})
						.form-group__description Является также логином для входа на сайт
					.form-block__submit
						button(type="submit").btn.btn-lg.btn--primary Восстановить
block pageModal

block componentsCriticalStyles
	+componentsCriticalStyles-includer()
block vendorScripts
	+vendorScripts-includer()
block componentsStyles
	+style-includer()
block componentsScripts
	+componentsScripts-includer()
