+include-style('slide-block')

.slide-block
    .slide-block__body
        +nav({
            mod: '',
            list: [
                {name: 'Монтаж оборудования',},
                {name: 'Сборка мебели',},
                {name: 'Ремонт техники',},
            ]
        })