+include-style('tabs-section')
+include-script('tabs-section')
+include-style('content')

.tabs-nav.tabs-section

    .tabs-container
            .tabs-container__item
                .introtext
                    p Оказываем услуги по сборке и установке оборудования. Выполняем работу в день обращения или обговариваем удобное время. Делаем все аккуратно и по согласованию с заказчиком.
                .content
                    h3 Преимущества работы с нами:
                    ul
                        li сотрудники нашей компании — профессиональные строители с опытом работы более 15 лет;
                        li выгодные расценки и система скидок;
                        li реализовали более 350 проектов по установке оборудования;
                        li детально изучаем категорию помещения с целью повышения безопасности проложенных коммуникаций;
                        li выполняем всю работу в кратчайшие сроки;
                        li учитываем каждую мелочь, которая может повлиять на итоговый результат.
                    p Мы всегда заботимся о наших клиентах. После установки оборудования наши сотрудники наводят порядок в помещении, чтобы сэкономить ваше время. Для заказа услуги на сайте заполните специальную форму. Специалист свяжется с вами и подробно проконсультирует по всем вопросам.

            .tabs-container__item
                .content
                    h3 Характеристики
                    table.char
                        tbody
                            tr
                                td Выезд специалиста на объект
                                td Бесплатно
                            tr
                                td Гарантия
                                td 5 дней
                            tr
                                td Срок выполнения
                                td В течение дня
            .tabs-container__item
                .content
                    p Дополнительная вкладка, для размещения информации об услугах, доставке или любого другого важного контента. Поможет вам ответить на интересующие покупателя вопросы и развеять его сомнения в покупке. Используйте её по своему усмотрению.
                    p Вы можете убрать её или вернуть обратно, изменив одну галочку в настройках компонента. Очень удобно.
include ../products-slider/products-slider--small-article
.tabs-nav.tabs-section


    .tabs-container
            .tabs-container__item
                .content
                    h3 Документы
                .tab-docs
                    .tab-docs__item
                        .tab-docs__item-icon
                            i.file-type.file-type--pdf
                        .tab-docs__item-content
                            a(href="#" download).tab-docs__item-title Договор на оказание услуг
                            .tab-docs__item-size 6 Кб
                    .tab-docs__item
                        .tab-docs__item-icon
                            i.file-type.file-type--excel
                        .tab-docs__item-content
                            a(href="#" download).tab-docs__item-title Прайс
                            .tab-docs__item-size 15,4 Кб
                    .tab-docs__item
                        .tab-docs__item-icon
                            i.file-type.file-type--txt
                        .tab-docs__item-content
                            a(href="#" download).tab-docs__item-title Прайс
                            .tab-docs__item-size 18 байт
            .tabs-container__item
                .content
                    p Дополнительная вкладка, для размещения информации об услугах, доставке или любого другого важного контента. Поможет вам ответить на интересующие покупателя вопросы и развеять его сомнения в покупке. Используйте её по своему усмотрению.
                    p Вы можете убрать её или вернуть обратно, изменив одну галочку в настройках компонента. Очень удобно.
