+include-style('about')

.about
  .container
    .about__inner 
      .about__left 
        .about__top 
          span для бизнеса
          span для физических лиц
        .about__title Интернет-магазин свежего кофе Roast.by
        .about__text 
          p Обжарщики кофе Roast.by - это команда единомышленников, собравшихся чтобы создать лучшую компанию по обжарке кофе
          p Наша цель — создать лучшую компанию по обжарке кофе
        .about__number 
          .about__item 
            .about__number-num с 2010 года
            .about__number-text  Мы обжариваем кофе 
          .about__item 
            .about__number-num > 87 000
            .about__number-text Выполненных заказов
        .btn.btn-white Подробнее о компании    
      .about__right