extends ../../layout/layout

block vars
    - var pageTitle = 'Умные часы Bambo-900'
    - var pageBodyClass = ''
    - var dir = './'


block premain
    .container
        .page-top
            +breadcrumbs({
                content2: 'Каталог',
                href_content2: '#',
                content3: 'Умные часы Bambo-900'
            })

block main
    include ../../components/product/product
    include ../../components/products-slider/products-slider
    include ../../components/photogallery/photogallery
    .container
        a(href="#").return-btn
            +icon('i-arrow-left')(width="16" height="10")
            | Назад к списку
    include ../../components/viewed-section/viewed-section
    include ../../components/products-slider/products-slider



block pageModal

block componentsCriticalStyles
    +componentsCriticalStyles-includer()
block vendorScripts
    +vendorScripts-includer()
block componentsStyles
    +style-includer()
block componentsScripts
    +componentsScripts-includer()
    <script src="https://yastatic.net/share2/share.js"></script>
