@import "src/assets/css/vars_mixins/vars_mixins";
.news{
	padding-bottom: 100px;
	@media (max-width: $md - 1) {
		padding-bottom: 60px;
	}
}
.news-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
	@media (max-width: $md - 1) {
		grid-template-columns: 1fr 1fr;
	}
	@media (max-width: $sm - 1) {
		grid-template-columns: 100%;

	}

	&__footer {
		margin-top: 40px;

	}

	.news-card-wrap {
		height: 424px;
		@media (max-width: $sm - 1) {
			height: auto;
		}
		.news-card{
			width: 100%;
			height: 100%;
		}
	}

}




