extends ../../layout/layout

block vars
    - var pageTitle = 'Бренд'
    - var pageBodyClass = ''
    - var dir = './'


block premain
    .container
        .page-top
            +breadcrumbs({
                content2: 'Бренды',
                href_content2: '',
                content3: 'Вега',
                href_content3: '',
            })
            .page-top__header
                h1.page-top__title Вега

block main
    include ../../components/brand/brand
    include ../../components/filters-panel/filters-panel--brand
    include ../../components/brand-grid/brand-grid
    .container
        a(href="#").return-btn
            +icon('i-arrow-left')(width="16" height="10")
            | Назад к списку


block pageModal

block componentsCriticalStyles
    +componentsCriticalStyles-includer()
block vendorScripts
    +vendorScripts-includer()
block componentsStyles
    +style-includer()
block componentsScripts
    +componentsScripts-includer()
