@import "src/assets/css/vars_mixins/vars_mixins";

.modal-scrollbar-measure {
	position: absolute;
	top: -9999px;
	width: 50px;
	height: 50px;
	overflow: scroll;
}

.modal-open {
	overflow: hidden;

	.wrapper {
		filter: blur(3px);
		-webkit-filter: blur(3px);
	}
}

.modal-open .modal {
	overflow-x: hidden;
	overflow-y: auto;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2000;
	display: none;
	width: 100%;
	height: 100%;
	overflow: hidden;
	outline: 0;
}

.fade {
	transition: opacity 0.15s linear;
}

.modal-narrow .modal-dialog {
	max-width: 716px;
}

.modal-sm .modal-dialog {
	max-width: 486px;
}

.modal-wide .modal-dialog {
	max-width: 860px;
}

.modal-dialog {
	position: relative;
	width: auto;
	margin: 0.5rem;
	pointer-events: none;
	.form-block__footer {
		gap: 0 30px;
	}
}

.modal.fade .modal-dialog {
	transition: -webkit-transform 0.3s ease-out;
	transition: transform 0.3s ease-out;
	transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
	-webkit-transform: translate(0, -50px);
	transform: translate(0, -50px);
}

.modal-close {
	position: absolute;
	top: 18px;
	right: 15px;
	fill: #e3e3e3;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: color 0.3s ease;
	@media (max-width: $sm) {
		top: 13px;
		right: 13px;
	}

	&:hover {
		@media (min-width: 1024px) {
			cursor: pointer;
			fill: $accent;
		}
	}
}

@media (prefers-reduced-motion: reduce) {
	.modal.fade .modal-dialog {
		transition: none;
	}
}

.modal.show .modal-dialog {
	-webkit-transform: none;
	transform: none;
}

.modal-dialog-centered {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	min-height: calc(100% - 1rem);
}

.modal-dialog-centered::before {
	display: block;
	height: calc(100vh - 1rem);
	height: -webkit-min-content;
	height: -moz-min-content;
	height: min-content;
	content: "";
}

.modal-content {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
	pointer-events: auto;
	background-color: var(--black_bg_black);
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, 0.2);
	outline: 0;
	padding: 45px;
	@media (max-width: $sm - 1) {
		padding: 20px;
	}
}

.modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1040;
	width: 100vw;
	height: 100vh;
	background-color: #000;
}

.modal-backdrop.fade {
	opacity: 0;
}

.modal-backdrop.show {
	opacity: 0.5;
}

.modal-title {
	color: #000;
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: 36px;
	margin-bottom: 30px;
	@media (max-width: $xs) {
		font-size: 26px;
		line-height: 34px;
		margin-bottom: 25px;
	}
}

.modal-descr{
	margin: -20px 0 30px;
	color: $b3;

}

.modal-body {
	position: relative;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}

@media (min-width: $xs) {
	.modal-dialog {
		margin: 1.75rem auto;
	}

	.modal-dialog-scrollable {
		max-height: calc(100% - 3.5rem);
	}

	.modal-dialog-scrollable .modal-content {
		max-height: calc(100vh - 3.5rem);
	}

	.modal-dialog-centered {
		min-height: calc(100% - 3.5rem);
	}

	.modal-dialog-centered::before {
		height: calc(100vh - 3.5rem);
		height: -webkit-min-content;
		height: -moz-min-content;
		height: min-content;
	}

	.modal-xs {
		max-width: 300px;
	}
}

@media (min-width: $md) {
	.modal-md,
	.modal-lg {
		max-width: 800px;
	}
}

@media (min-width: $lg) {
	.modal-lg {
		max-width: 1140px;
	}
}

.modal-one-click {
	&__product {
		margin-top: 0;
	}

	&__success {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 30px;
		padding-top: 75px;
		text-align: center;
		max-width: 388px;
		margin: auto;

		&-title {
			color: var(--white_text_black);
			font-size: 24px;
			font-weight: 600;
			margin-bottom: 20px;
			@media (max-width: $xs - 1) {
				font-size: 16px;
			}
		}

		&-descr {
			font-size: 16px;
			margin-bottom: 34px;
			@media (max-width: $xs - 1) {
				font-size: 12px;
			}
		}

		&-image {
			@media (max-width: $xs - 1) {
				max-width: 70px;
			}

			svg {
				height: auto;
			}
		}
	}

	&__product-title {
		font-size: 0.9375rem;
		line-height: calc(1em + 7px);
	}

	&__product-status {
		font-size: 0.875rem;
		line-height: calc(1em + 7px);
	}

	&__product-price {
		font-weight: 600;
		line-height: 20px;
		font-size: 1.5rem;
		margin-top: 15px;
	}

	.modal-close {
		z-index: 10;
	}

	.modal-dialog {
		max-width: 957px;


	}

	.modal-content {
		padding: 0px;
	}

	.rowblock {
		display: flex;
		@media (max-width: $xs - 1) {
			display: block;
		}

		&__left,
		&__right {
			flex-grow: 1;
			padding: 35px 32px;
			@media (max-width: $sm - 1) {
				padding: 20px;
			}
			@media (max-width: $xs - 1) {
				width: auto;
			}
		}

		&__left {
			width: 393px;
			flex: 0 0 auto;
			display: flex;
			flex-direction: column;
			border-right: 1px solid var(--stroke_black);
			@media (max-width: $sm - 1) {
				display: none;
			}
		}

		&__right {
			// background-color: #fafafb;
		}
	}

	.product-card__stock {
		margin: 10px 0px;
		@media (max-width: $xs - 1) {
			order: 3;
			height: auto;
		}
	}

	.product-card__footer {
		margin-top: 13px;
		@media (max-width: $xs - 1) {
			order: 4;
			margin-top: 0px;
		}
	}

	.product-card__title {
		height: 48px;
		@media (max-width: $xs - 1) {
			order: 1;
			font-size: 12px;
			height: 30px;
		}
	}

	.product-card__mid {
		@media (max-width: $xs - 1) {
			display: flex;
		}
	}

	.product-card__image {
		display: block;
		padding-bottom: 100%;
		position: relative;
		width: 100%;
		background-color: #fff;
		border-radius: 8px;
		overflow: hidden;
		margin-bottom: 26px;

		.lazy-img-wrap {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;

			img {
				max-width: 100%;
				max-height: 100%;
			}
		}
	}

	.product-card__content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 6px;
		color: var(--white_text_black);
	}

	.product-card__id,
	.product-card__availability {
		@media (max-width: $xs - 1) {
			font-size: 10px;
			margin-right: 16px;
		}
	}

	.product-card__status-wrap {
		@media (max-width: $xs - 1) {
			order: 2;
			height: auto;
		}
	}

	.product-card__status {
		@media (max-width: $xs - 1) {
			justify-content: flex-start;
		}
	}

	.counter-input {
		@media (max-width: $xs - 1) {
			max-width: none;
			width: 100%;
		}
	}
}

.modal-container {
	.modal-dialog {
		max-width: 460px;
	}
}

.comment-form {
	border-color: var(--stroke_black);
	border-radius: 8px;
	display: grid;
	gap: 25px;
	grid-template-columns: 1fr 1fr;

	&__full {
		grid-column: 2 span;
	}

	.btn {
		width: 205px;
		padding: 12px 40px 14px 40px;
		@media (max-width: $xs) {
			width: 100%;
		}
	}

	&__bottom {
		display: flex;
		justify-content: space-between;
		@media (max-width: $xs) {
			flex-direction: column;
			gap: 25px;
		}
	}

	&__success {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 15px;
		text-align: center;
		max-width: 388px;
		margin: auto;
		@media (max-width: $xs) {
			gap: 10px;
		}

		&-title {
			color: #000;
			font-size: 32px;
			font-style: normal;
			font-weight: 700;
			line-height: 36px;
			@media (max-width: $xs - 1) {
				font-size: 22px;
				line-height: 30px;
			}
		}

		&-descr {
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			line-height: 24px;
			@media (max-width: $xs - 1) {
				font-size: 12px;
				line-height: 18px;
			}
		}

		&-image {
			svg {
				height: auto;
			}
		}
	}
}
.modal-auth{
	.forgot{
		color: $accent;
	}
	.form-block__footer{
		margin-top: 0;
		padding-top: 0;
		border-top: none;
		margin-bottom: 25px;
		padding-bottom: 25px;
		border-bottom: 1px dashed $a5;
		.btn{
			width: auto;
		}
	}
}
@media (max-width: $xs) {
	.comment-form {
		grid-template-columns: 1fr;

		.comment-form__full {
			grid-column: span 1;
		}

		.btn {
			width: 100%;
		}
	}
}
