extends ../../layout/layout

block vars
    - var pageTitle = 'Услуги'
    - var pageBodyClass = ''
    - var dir = './'


block premain
    .container
        .page-top
            +breadcrumbs({
                content2: 'Услуги',
                href_content2: '',
                content3: 'Kaffit Nizza'
            })


block main
    include ../../components/services/services-2
    include ../../components/services/services-device-2
    include ../../components/products-slider/products-slider
    include ../../components/subscription/subscription

block pageModal

block componentsCriticalStyles
    +componentsCriticalStyles-includer()
block vendorScripts
    +vendorScripts-includer()
block componentsStyles
    +style-includer()
block componentsScripts
    +componentsScripts-includer()
