form.header-cart

	.header-cart__block.order-2
		.header-cart__list
			each item in [1,2,3]
				.header-cart__item
					+lazy-img({
						link: true,
						img: 'product-cart.png',
					})
					.header-cart__item-content

						a(href="#").header-cart__item-title Танзания Мбинга Килиманджаро АА
						.header-cart__item-prices
							span.price 115.74 руб.
							span.price-additional 48.30 руб.
							.header-cart__item-badges
								.discount 
									<svg xmlns="http://www.w3.org/2000/svg" width="4" height="5" viewBox="0 0 4 5" fill="none">
										<path d="M0.5 2.5L3.5 0.334936L3.5 4.66506L0.5 2.5Z" fill="#D64A4A"/>
									</svg> 
									span -10%
							//- span.count x 3 шт
				.header-cart__item
					+lazy-img({
						link: true,
						img: 'product-cart.png',
					})
					.header-cart__item-content
						a(href="#").header-cart__item-title Бразилия Велосо Колекта
						.header-cart__item-prices
							span.price  115.74 руб.
						//- .header-cart__item-remove
						//- 	+icon('i-remove')(style="width:16px;height:16px")

	.header-cart__block.order-3
		.header-cart__block-inner
			.header-cart__block-header
				.header-cart__block-price 115.74 руб.
				.header-cart__block-text Стоимость с учетом всех скидок
			.header-cart__block-btns
				a(href="#").btn.btn-wide Перейти в корзину
	.header-cart__block.order-1 
		.header-cart__block-top
			.header-cart__block-title Корзина 
				span (5 товаров)
			.header-cart__block-clear 
				+icon('i-close')(style="height:12px;width:12px") 
				span Очистить корзину				
