+include-style('header')
+include-script('header')

//header.header
header.header__top
  .container
    .header__top-inner
      +nav({
        more_btn: true,
        mod: 'header__top-nav',
        list: [
          {name: 'Компания', active: true,},
          {name: 'Статьи'},
          {name: 'Услуги'},
          {name: 'Опт'},
          {name: 'Контакты'},
          {
            name: 'Скидки, оплата, доставка',
            list: [
              {name: 'Вопрос-ответ'},
              {name: 'Условия оплаты '},
              {name: 'Условия доставки', active: true,},
              {name: 'Гарантия на товар'},
              {name: 'Как оформить заказ'},
              {name: 'Политика'},
            ],
            accent: true,
          },
        ]
      })
      .header__phones-line
        .header-phones
          .header-phones__left(:class="isMobilePhonesVisible ? 'header-phones__left--visible' : ''")
            include ./header-phones
          .header-phones__right Заказать звонок

header.header__main(
  x-data="{ isSticky: false }"
  @scroll.window="isSticky = (window.pageYOffset > 120) ? true : false"
  :class="{'is-sticky' : isSticky}"
)
  .header-inner
    .container
      .header__main-inner
        .header-mobile-burger(@click="isMobileNavVisible = ! isMobileNavVisible")
          +icon('i-burger-2')(style="width:16px;height:12px")
        .header__main-group    
          a(href="#").header__main-logo
            +lazy-img({
            wrap_mod: 'logo__img',
            img: `logo.png`
          })
          .header__main-info Интернет-магазин свежего кофе
        .header__bottom-inner
          .header__bottom-scroll
            each name in ['Кофе','Чай','Аксессуары','Зеленый кофе','Гранола','Капсулы','Дрип-пакеты','Оборудование']
              a(href="#")
                span=name
        .header__main-items
          .header__main-item.header__main-item--hidden-xs
            a(href="#").header__main-item-link
              .header__main-item-icon-wrap
                +icon('i-search')(style="height:19px;width:19px")
          .header__main-item.header-cabinet
            a(href="#").header__main-item-link
              .header__main-item-icon-wrap.login
                +icon('i-user')(style="height:16px;width:16px")
            .header-cabinet__dropdown
              .header-cabinet__dropdown-inner
                .header-cabinet__dropdown-item
                  a(href='#').header-cabinet__dropdown-link.active Мой кабинет
                .header-cabinet__dropdown-item
                  a(href='#').header-cabinet__dropdown-link Личные данные
                .header-cabinet__dropdown-item
                  a(href='#').header-cabinet__dropdown-link Сменить пароль
                .header-cabinet__dropdown-item
                  a(href='#').header-cabinet__dropdown-link Текущие заказы
                .header-cabinet__dropdown-item
                  a(href='#').header-cabinet__dropdown-link История заказов
                .header-cabinet__dropdown-item
                  a(href='#').header-cabinet__dropdown-link Личный счет
                .header-cabinet__dropdown-item
                  a(href='#').header-cabinet__dropdown-link Профили заказов
                .header-cabinet__dropdown-item
                  a(href='#').header-cabinet__dropdown-link Подписки
                .header-cabinet__dropdown-item
                  a(href='#').header-cabinet__dropdown-link Избранные товары
                .header-cabinet__dropdown-item
                  a(href='#').header-cabinet__dropdown-link
                    span Выйти
                    +icon('i-login-2')(style="height:12px;width:12px")

          .header__main-item.header__main-item--mobile.header__main-item--hidden-xs
            span(@click="isMobilePhonesVisible = ! isMobilePhonesVisible").header__main-item-link
              .header__main-item-icon-wrap
                +icon('i-phone')(style="height:19px;width:15px")
          .header__main-item.header__main-item--mobile
            span(@click="isMobileSearchVisible = ! isMobileSearchVisible").header__main-item-link
              .header__main-item-icon-wrap
                +icon('i-search')(style="height:18px;width:18px") 


          .header__main-item.header__main-item--hidden-xs
            a(href="#").header__main-item-link
              .header__main-item-icon-wrap
                +icon('i-favorite')(style="height:21px;width:19px")
          .header__main-item.header__main-item--cart
            a(href="#").header__main-item-link
              .header__main-item-icon-wrap
                .header__main-item-count 2
                +icon('i-cart')(style="height:19px;width:19px")
              .header-cart-wrap
                include ./header-cart
//- header.header__bottom
//-     .container
//-         .header__bottom-inner
//-             .header__bottom-scroll
//-                 a(href="#").active
//-                     span Смартфоны
//-                 a(href="#")
//-                     span Инструменты
//-                 a(href="#")
//-                     span Одежда на весну                         
include ./mobile-nav



