.mobile-nav(:class="isMobileNavVisible ? 'visible' : ''" x-data="{isNav2PhonesVisible : false, catalog: false}")
	.mobile-nav__inner(:class="catalog && 'catalog' ")
		.mobile-nav__close(@click="isMobileNavVisible = ! isMobileNavVisible")
			+icon('i-close')(style="height:16px;width:16px")
		.mobile-nav__logo
			+lazy-img({
			wrap_mod: 'logo__img',
			img: `logo.png`
			})
			.mobile-nav__info Интернет-магазин свежего кофе
		.mobile-nav__search
			form.search(action="#")
				input.form-control(placeholder="Найти")
				.search__btns
					button.btn--clear
						+icon('i-close')(style="height:9px;width:9px")
					button.btn.btn--search
						+icon('i-search')(style="height:21px;width:21px")
		.mobile-nav__item.cat-open
			a(href="tel:7744").mobile-nav__item-value-link
				+icon('i-phone')(style="width:18px; height:18px")
				| 7744
				span (A1, МТС)
			a(href="tel:+375333003334").mobile-nav__item-value-link +375 33 300-33-34
			.mobile-nav__item-value-dop Заказать звонок
		.mobile-nav__sep
		.mobile-nav__item
			span.mobile-nav__item-title Каталог
			+nav({
				more_btn: false,
				mod: 'mobile-nav__menu',
				list: [
					{ name: 'Кофе', },
					{name: 'Чай', active: true},
					{name: 'Аксессуары'},
					{name: 'Зеленый кофе'},
					{name: 'Гранола'},
					{name: 'Капсулы'},
					{name: 'Дрип-пакеты'},
					{name: 'Оборудование'},
				]
			})
		.mobile-nav__sep
		.mobile-nav__item
			span.mobile-nav__item-title Информация
			+nav({
				more_btn: false,
				mod: 'mobile-nav__menu',
				list: [
					{ name: 'Компания', },
					{name: 'Статьи'},
					{name: 'Услуги'},
					{name: 'Опт'},
					{name: 'Контакты'},
					{
						title: 'Скидки, оплата, доставка',
						name: 'Скидки, оплата, доставка',
						list: [
							{name: 'Вопрос-ответ'},
							{name: 'Условия оплаты '},
							{name: 'Условия доставки', active: true,},
							{name: 'Гарантия на товар'},
							{name: 'Как оформить заказ'},
							{name: 'Политика'},
						],
						accent: true,
					},
				]
			})