.mobile-nav(:class="isMobileNavVisible ? 'visible' : ''" x-data="{isNav2PhonesVisible : false, catalog: false}")
	.mobile-nav__inner(:class="catalog && 'catalog' ")
		.mobile-nav__close(@click="isMobileNavVisible = ! isMobileNavVisible")
			+icon('i-close')(style="height:16px;width:16px")
		.mobile-nav__logo
			<svg width="171" height="34" viewBox="0 0 171 34" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path class="fill-dark-light" fill-rule="evenodd" clip-rule="evenodd" d="M48.761 8.95702V17.507C48.8584 18.5076 48.6153 19.5118 48.071 20.357C47.8115 20.6329 47.4811 20.832 47.116 20.9325C46.7508 21.0331 46.3651 21.0311 46.001 20.927V23.957C46.786 24.0939 47.5915 24.0546 48.3594 23.8418C49.1273 23.6291 49.8383 23.2483 50.441 22.727C51.4803 21.727 52.0003 20.037 52.001 17.657V12.077H57.001V23.957H60.241V8.95702H48.761ZM75.754 11.057C75.1587 10.2322 74.3665 9.56948 73.4495 9.12932C72.5325 8.68915 71.5198 8.48552 70.504 8.537C69.5131 8.52498 68.5308 8.7218 67.6211 9.11464C66.7114 9.50748 65.8946 10.0875 65.224 10.817C63.8172 12.3426 63.0362 14.3418 63.0362 16.417C63.0362 18.4922 63.8172 20.4914 65.224 22.017C65.892 22.7512 66.7078 23.3357 67.6178 23.7321C68.5278 24.1285 69.5114 24.3278 70.504 24.317C71.5229 24.3675 72.538 24.1603 73.4556 23.7146C74.3732 23.2689 75.1637 22.599 75.754 21.767V23.927H78.994V8.927H75.754V11.057ZM66.274 16.427C66.2547 15.7929 66.3644 15.1614 66.5965 14.571C66.8285 13.9805 67.1781 13.4433 67.624 12.992C68.5352 12.1162 69.7501 11.627 71.014 11.627C72.2779 11.627 73.4927 12.1162 74.404 12.992C75.2717 13.9254 75.754 15.1526 75.754 16.427C75.754 17.7014 75.2717 18.9286 74.404 19.862C73.4927 20.7379 72.2779 21.227 71.014 21.227C69.7501 21.227 68.5352 20.7379 67.624 19.862C67.178 19.4106 66.8283 18.8732 66.5963 18.2826C66.3642 17.6919 66.2545 17.0603 66.274 16.426V16.427ZM93.009 6.98302V3.94501H85.984V6.98302H93.009ZM86.173 18.437V8.95801H82.993V23.958H85.483L93.005 14.418V23.958H96.185V8.95801H93.7L86.173 18.437ZM99 8.95702V12.077H103.983V23.957H107.223V12.077H111.988V8.95702H99ZM132.75 20.897H127.11V8.95702H123.87V20.897H118.23V8.95702H114.99V23.957H135.99V8.95702H132.75V20.897ZM152.592 22.036C153.709 20.9315 154.471 19.5187 154.78 17.9786C155.089 16.4384 154.932 14.8411 154.327 13.391C153.723 11.941 152.7 10.7043 151.389 9.83936C150.077 8.97442 148.538 8.5206 146.967 8.53601C145.926 8.51635 144.892 8.70831 143.928 9.10023C142.964 9.49216 142.089 10.0759 141.357 10.816C139.877 12.3082 139.047 14.3245 139.047 16.426C139.047 18.5275 139.877 20.5439 141.357 22.036C142.861 23.4987 144.877 24.3171 146.975 24.3171C149.074 24.3171 151.089 23.4987 152.594 22.036H152.592ZM142.287 16.426C142.269 15.7988 142.379 15.1744 142.611 14.5914C142.844 14.0084 143.193 13.4791 143.637 13.036C144.529 12.1702 145.724 11.686 146.967 11.686C148.21 11.686 149.405 12.1702 150.297 13.036C151.164 13.9518 151.647 15.1649 151.647 16.426C151.647 17.6871 151.164 18.9002 150.297 19.816C149.405 20.6818 148.21 21.166 146.967 21.166C145.724 21.166 144.529 20.6818 143.637 19.816C143.193 19.3727 142.844 18.8433 142.613 18.2604C142.381 17.6774 142.271 17.0531 142.289 16.426H142.287ZM157.992 8.95702V23.957H161.232V12.017H167.745V23.957H170.985V8.95702H157.994H157.992Z" fill="#222222"></path>
			<path class="fill-theme-svg" fill-rule="evenodd" clip-rule="evenodd" d="M31.8051 22.3273C31.4001 22.8167 30.9624 23.2781 30.495 23.7083C30.0364 24.1772 29.4786 24.5374 28.8625 24.7623C28.2465 24.9873 27.5879 25.0714 26.9351 25.0083C24.3851 24.9813 22.455 22.5933 22.455 22.5933L17.015 15.4713C17.015 15.4713 14.355 19.0203 13.025 20.9583C11.755 22.8173 10.005 22.0433 8.95496 20.5423L15.605 10.7723C15.7486 10.5242 15.955 10.3182 16.2034 10.175C16.4517 10.0318 16.7333 9.95643 17.02 9.95643C17.3067 9.95643 17.5883 10.0318 17.8367 10.175C18.085 10.3182 18.2914 10.5242 18.4351 10.7723C18.4351 10.7723 25.0551 19.6793 25.4351 20.1723C25.5889 20.4458 25.8197 20.668 26.0989 20.8113C26.378 20.9546 26.6931 21.0127 27.005 20.9783C27.7377 20.8531 28.3916 20.4442 28.825 19.8403C29.5695 19.093 29.9875 18.0811 29.9875 17.0263C29.9875 15.9714 29.5695 14.9596 28.825 14.2123L19.825 5.21229C19.0908 4.46513 18.0924 4.03662 17.045 4.01928C16.5175 4.01243 15.9941 4.11218 15.5061 4.31254C15.0181 4.5129 14.5755 4.80974 14.205 5.18528L5.18506 14.1983C4.44048 14.9465 4.02246 15.9592 4.02246 17.0148C4.02246 18.0704 4.44048 19.083 5.18506 19.8313L14.205 28.8433C14.5657 29.2182 14.9994 29.5154 15.4791 29.7168C15.9589 29.9182 16.4747 30.0194 16.995 30.0143C18.755 29.9853 19.965 28.8833 21.525 27.2963C24.125 24.6503 26.385 27.8583 26.385 27.8583L26.395 27.8703L22.345 31.7963C20.9282 33.2078 19.0099 34.0003 17.01 34.0003C15.0101 34.0003 13.0918 33.2078 11.675 31.7963L2.20496 22.3273C0.793062 20.9142 0 18.9984 0 17.0008C0 15.0032 0.793062 13.0874 2.20496 11.6743L11.675 2.20529C12.376 1.50373 13.2086 0.947726 14.1252 0.569257C15.0419 0.190787 16.0243 -0.00266753 17.016 2.7781e-05C18.0077 0.00272309 18.9891 0.201512 19.9037 0.584958C20.8182 0.968405 21.6479 1.52893 22.345 2.23428L31.8051 11.6953C33.2091 13.1083 33.9971 15.0193 33.9971 17.0113C33.9971 19.0032 33.2091 20.9143 31.8051 22.3273V22.3273Z" fill="#5B7FFF"></path>
			</svg>
		.mobile-nav__item
			.preloader(style="height: 47px")
		.mobile-nav__item
			+nav({
				more_btn: false,
				mod: 'mobile-nav__menu',
				list: [
					{
						title: 'Каталог',
						name: 'Каталог',
						list: [
							{
								title: 'Товары для дома и дачи',
								name: 'Товары для дома и дачи',
								list: [
									{name: 'Строительство и ремонт lvl3'},
									{name: 'Электроника lvl3'},
									{name: 'Одежда lvl3'},
									{name: 'Обувь lvl3'},
									{name: 'Красота и здоровье lvl3'},
								]
							},
							{name: 'Строительство и ремонт'},
							{name: 'Электроника'},
							{name: 'Одежда'},
							{name: 'Обувь'},
							{name: 'Красота и здоровье'},
                            {name: 'Строительство и ремонт'},
							{name: 'Электроника'},
							{name: 'Одежда'},
							{name: 'Обувь'},
							{name: 'Красота и здоровье'}, {name: 'Электроника'},
                            {name: 'Одежда'},
                            {name: 'Обувь'},
                            {name: 'Красота и здоровье'},
                            {name: 'Строительство и ремонт'},
                            {name: 'Электроника'},
                            {name: 'Одежда'},
                            {name: 'Обувь'},
                            {name: 'Красота и здоровье'},
						]
					},
					{name: 'Бренды', active: true,},
					{name: 'Акции'},
					{
						title: 'Услуги',
						name: 'Услуги',
						list: [
							{name: 'Монтаж оборудования'},
							{name: 'Сборка мебели'},
							{name: 'Ремонт техники'},
						]
					},
					{
						title: 'Компания',
						name: 'Компания',
						list: [
							{name: 'О компании'},
							{name: 'Лицензии'},
							{name: 'Отзывы'},
							{name: 'Документы'},
						]
					},
					{name: 'Блог'},
					{
						title: 'Информация',
						name: 'Информация',
						list: [
							{name: 'Реквизиты'},
							{name: 'Магазины'},
							{
								title: 'Возможности',
								name: 'Возможности',
								list: [
									{name: 'Оформление'},
									{name: 'Кнопки'},
									{name: 'Иконки'},
									{name: 'Элементы'},
								]
							},
						]
					},
					{name: 'Контакты'},
				]
			})
		.mobile-nav__sep
		.mobile-nav__item.cat-open
			.mobile-nav-link
				+icon('i-compare')(style="height:16px;width:20px")
				span Сравнение
			.mobile-nav-link
				+icon('i-favorite')(style="height:16px;width:18px")
				span Избранное
			.mobile-nav-link
				+icon('i-cart')(style="height:18px;width:21px")
				span Корзина
				.mobile-nav-link__count 2
		.mobile-nav__sep.cat-open
		.mobile-nav__item.cat-open
			.mobile-nav__item-value(@click="isNav2PhonesVisible = ! isNav2PhonesVisible")
				.mobile-nav__item-value-content
					.mobile-nav__item-value-link +7 100 000-00-00
					.mobile-nav__item-value-text Отдел продаж
				+icon('i-arrow-down')(width="7px" height="5px").mobile-nav__item-value-icon
			a(href="mailto:chel.no-reply@aspro-demo.ru").mobile-nav__item-value chel.no-reply@aspro-demo.ru
			.mobile-nav__item-value Челябинск, ул. Лермонтова 21, 3 этаж, офис 4
			.mobile-nav__item-value Пн - Вс: 11.00 - 19.00
			.mobile-nav__item.socials
				ul.socials__list
					each item in ['vkontakte','telegram','youtube','tiktok','whatsapp','yandex-zen','aspro-link']
						li
							a(href="#" class=item)
	.mobile-nav-lvl2(:class="isNav2PhonesVisible ? 'visible': ''" @click="isNav2PhonesVisible = ! isNav2PhonesVisible")
		.mobile-nav-lvl2__close(@click="isMobileNavVisible = ! isMobileNavVisible")
			+icon('i-close')(style="height:16px;width:16px")
		.mobile-nav-lvl2__header
			+icon('i-arrow-right')(style="width: 7px;height:12px")
			| Назад
		.mobile-nav-lvl2__phones
			.mobile-nav-lvl2__phones-title Телефоны
			.header-phones__dropdown-phone
				a(href="tel:+71000000000").header-phones__dropdown-phone-link +7 100 000-00-00
					span.header-phones__dropdown-phone-descr Отдел продаж
			.header-phones__dropdown-phone
				a(href="tel:+71000000001").header-phones__dropdown-phone-link +7 100 000-00-01
					span.header-phones__dropdown-phone-descr Бухгалтерия
			.header-phones__dropdown-phone
				a(href="tel:+71000000002").header-phones__dropdown-phone-link +7 100 000-00-02
					span.header-phones__dropdown-phone-descr Директор
			.header-phones__dropdown-phone
				.btn.btn-wide.btn-sm.animate-load Заказать звонок