@import "src/assets/css/vars_mixins/vars_mixins";

[x-cloak] {
  display: none !important;
}

.overlay {
  background: #000;
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 6;
  // backdrop-filter: blur(5px);
  // -webkit-backdrop-filter: blur(5px);

  opacity: 0;
  visibility: hidden;

  &.visible {
    opacity: 0.6;
    visibility: visible;
  }
}

.page-top {
  padding-top: 24px;
  padding-bottom: 11px;
  position: relative;

  &__header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  &__title {
    color: $white_text_black;
    color: var(--white_text_black);
    font-weight: 500;
    font-size: 1.66vw;
    font-size: clamp(1.625rem, 1.66vw, 2rem);
    margin: 0;
    padding-bottom: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline;
    vertical-align: middle;
    line-height: calc(1em + 15px);
  }
  &__count {
    position: relative;
    top: 0;
    margin-left: 11px;
    margin-bottom: 2px;
    display: inline-block;
    vertical-align: middle;
    color: #999;
  }
  &__rss {
    margin-left: auto;
    height: 42px;
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg path {
      fill: var(--fill_dark_light);
      opacity: 0.35;
      transition: opacity 0.3s, fill 0.3s;
    }

    &:hover svg path {
      fill: var(--fill_dark_lite_hover);
      opacity: 1;
    }
  }
  &--center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

.section-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  font-style: normal;
  color: $basic_black;
  @media (max-width: $xs - 1) {
    font-size: 26px;
  }

  &__link {
    color: inherit;
    display: flex;
    align-items: center;

    &:hover {
      color: $accent;

      .icon {
        stroke: $accent;
      }
    }
  }

  .icon-wrap {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 28px;
    font-size: 0;
    line-height: 28px;
    margin-left: 20px;
    background-color: rgba(136, 136, 136, 0.1);
    padding: 0 7px 0 8px;
    border-radius: 8px;
  }
  .icon {
    fill: rgba(0, 0, 0, 0);
    stroke: $white_text_black;
    stroke: var(--white_text_black);
  }
}

.badge {
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 0.625rem;
  height: 23px;
  padding: 1px 6px 1px 8px;
  margin: 0 2px 4px;
  color: #fff;
  border-radius: 6px;
  font-weight: 500;
  display: flex;
  align-items: center;

  &--red {
    background: #ff6565;
    box-shadow: 0 6px 12px rgba(255, 101, 101, 0.2);
  }
  &--yellow {
    background: #ffeb81;
    color: #222;
    box-shadow: 0 6px 12px rgba(255, 235, 129, 0.2);
  }
  &--gray {
    background: var(--darkgrey_bg_black);
  }
  &--purple {
    background: #a56ffd;
    box-shadow: 0 6px 12px rgba(165, 111, 253, 0.2);
  }
  &--green {
    background: #32cb5d;
    box-shadow: 0 6px 12px rgba(50, 203, 93, 0.2);
  }
  &--countdown {
    line-height: 1;
    align-items: baseline;
    padding: 1px 2px 1px 7px;
  }
}
.discount {
  display: flex;
  align-items: center;
  span {
    color: $basic_white;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 10px;
    border-radius: 1px;
    background: #d64a4a;
    padding: 3px 3px 2px;
  }
  svg {
    margin-right: -1px;
  }
}
.main-row {
  display: flex;
  padding-bottom: 80px;
  @media (max-width: $sm - 1) {
    padding-bottom: 50px;
  }
  &__aside {
    width: 270px;
    margin-right: 39px;
    flex-shrink: 0;
    @media (max-width: $sm - 1) {
      display: none;
    }
    &--right {
      margin-right: 0;
      margin-left: 39px;
      @media (max-width: $md - 1) {
        display: none;
      }
    }
  }
  &__main {
    flex: 1;
    min-width: 0;
  }
  .tabs-nav {
    margin-bottom: 0;
  }
}

.catalog .main-row__main {
  margin: 0 -24px -150px;
  padding: 0 24px 150px;
  //overflow: hidden;
}

.sticky-block {
  top: 112px;
  position: sticky;
  z-index: 5;
}

.top-description {
  line-height: calc(1em + 10px);
  color: #666;
  color: var(--lite_basic_text_black);
  margin-bottom: 32px;
}

.return-btn {
  margin: 24px 0 2.89rem;
  display: inline-flex;
  align-items: center;
  color: #222;
  color: var(--white_text_black);

  @media (min-width: $md) {
    &:hover {
      color: var(--fill_dark_lite_hover);
      .icon {
        stroke: var(--fill_dark_lite_hover);
      }
    }
  }

  .icon {
    flex-shrink: 0;
    margin-right: 10px;
    fill: rgba(0, 0, 0, 0);
    transition: all ease 0.3s;
    stroke: var(--fill_dark_light);
    opacity: 0.35;
  }
}

.counter {
  border-radius: 90px;
  background-color: #f6f6f6;
  height: 42px;
  user-select: none;
  width: 142px;
  min-width: 103px;
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  &__action {
    cursor: pointer;
    flex: 0 0 45px;
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      display: block;
      background-color: #acacac;
      border-radius: 1px;
      top: 50%;
      left: 50%;
    }
    &:before {
      width: 12px;
      height: 2px;
      margin-top: -1px;
      margin-left: -6px;
    }

    &--minus {
      border-right: 1px solid rgba(0, 0, 0, 0.1);
    }
    &--plus {
      border-left: 1px solid rgba(0, 0, 0, 0.1);

      &:after {
        width: 2px;
        height: 12px;
        margin-top: -6px;
        margin-left: -1px;
      }
    }
  }
  &__count {
    flex: 1;
    width: 100%;
    height: 100%;
    border: none;
    background: 0 0;
    text-align: center;
    color: #000;
  }
}

.in-stock {
  color: #69be15;
}
.outin-stock {
  color: #fe5252;
}

.preloader {
  background: url("/html/images/preloader.gif") no-repeat scroll center center
    rgba(0, 0, 0, 0) !important;
  border-color: transparent !important;
  color: transparent !important;
  cursor: default !important;
}

.loading-popover {
  position: relative;
  &:before {
    content: "";
    display: block;
    background: rgba(255, 255, 255, 0.5) url("/html/images/preloader2.svg")
      center 50px no-repeat;
    position: absolute;
    z-index: 105;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
.form-block {
  display: flex;
  flex-direction: column;
  gap: 15px;
  &__descr {
    padding: 0 0 16px 0;
  }
  &__submit {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
  }
  .forgot {
    font-size: 0.875rem;
    line-height: calc(1em + 7px);
  }
}
.form-block-container {
  max-width: 484px;
  margin: auto;
}
.main-inner {
  padding-bottom: 80px;
}
.policy-block {
  margin: 0;
  position: relative;
  display: block;
  box-shadow: none;
  font-size: 12px;
  line-height: calc(1em + 4px);
  padding: 0px 0 3px 0;
  text-align: center;
}

// 1199.75
@media (max-width: $lg) {
}
// 991.75
@media (max-width: $md) {
  .services .main-row__aside,
  .catalog .main-row__aside {
    display: none;
  }
}
// 767.75
@media (max-width: $sm) {
  [x-cloak="sm"] {
    display: none;
  }

  .counter {
    width: 100%;
  }
}
// 600.75
@media (max-width: $xs) {
  .page-top {
    &__header {
      gap: 10px;
    }
    &__title {
      line-height: calc(1em + 6px);
    }
    &__count {
      display: block;
      margin: 3px 0 0;
    }
  }
}
