+include-style('filters-panel')
+include-script('filters-panel')

mixin filter-item(args={})
	if(args.single_checkbox)
		// toggle
		.filter-item-toggle
			input(type="checkbox" name="" id="toggle1")
			label.filter-item(for="toggle1")
				.filter-item__check
					<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 14 12" fill="none">
						<path d="M13.0334 1.59397L5.7038 8.9236L1.42819 4.64798" stroke="black" stroke-width="1.5"/>
					</svg>
				.filter-item__header
					.filter-item__title!=args.title
			//- span
	else
		.filter-item(
			class=args.mod
			x-data="{isOpenedFilterItem: false, isOpenedPartList: false}"
			:class="[isOpenedFilterItem ? 'opened' : '', isOpenedPartList ? 'opened-part-list' : '']"
			@click.away="isOpenedFilterItem = false")
			.filter-item__header(@click="isOpenedFilterItem = ! isOpenedFilterItem")
				.filter-item__title
					span!=args.title
					+icon('i-arrow-down')(style="height:5px;width:7px")
				//- .filter-item__remove
				//- 	+icon('i-close')(style="width:8px;height:8px")
			.filter-item__body
				.filter-item__body-list
					block
				if(args.hint)
					.filter-item__body-hint
						.hint(x-data="{isHintOpened: false}"
							:class="isHintOpened ? 'opened' : ''"
							@click.away="isHintOpened = false")
							.hint__icon(@click="isHintOpened = ! isHintOpened") ?
							.hint__text Примечание
							.hint__body Пример подсказки

.filters-panel-relative
	.filters-panel-relative__top
		.filters-panel-btn.filters-panel-btn--active-filter(@click="isOpenedFilterPanel = ! isOpenedFilterPanel")
			span.icon-wrap
				<svg xmlns="http://www.w3.org/2000/svg" width="13" height="10" viewBox="0 0 16 12" fill="none">
					<path d="M3.66667 6H12.3333M1.5 1H14.5M5.83333 11H10.1667" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
			span Фильтр
		.filters-panel__btns.filters-panel__btns-mob
			button.filters-panel__btn
				<svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 10" fill="none">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M8.8436 9.65663C9.13649 9.94953 9.61137 9.94953 9.90426 9.65663C10.1972 9.36374 10.1972 8.88887 9.90426 8.59597L6.36862 5.06033L9.90392 1.52502C10.1968 1.23213 10.1968 0.757258 9.90392 0.464364C9.61103 0.171471 9.13615 0.171471 8.84326 0.464364L5.30796 3.99967L1.90426 0.595974C1.61137 0.303082 1.13649 0.303081 0.843601 0.595974C0.550707 0.888868 0.550708 1.36374 0.843601 1.65663L4.2473 5.06033L0.843262 8.46436C0.550368 8.75726 0.550368 9.23213 0.843262 9.52502C1.13615 9.81792 1.61103 9.81792 1.90392 9.52502L5.30796 6.12099L8.8436 9.65663Z" fill="#ACACAC"/>
				</svg>
				span Очистить фильтр
	.filters-panel(:class="isOpenedFilterPanel ? 'opened' : ''")
		.filters-panel__wrap
			.filters-panel__header-mob
				.mobile-nav__logo
					+lazy-img({
					wrap_mod: 'logo__img',
					img: `logo.png`
					})
					.mobile-nav__info Интернет-магазин свежего кофе
			.filters-panel__header
				.filters-panel-btn.filters-panel-btn--active-filter
					span.icon-wrap
						<svg xmlns="http://www.w3.org/2000/svg" width="13" height="10" viewBox="0 0 16 12" fill="none">
							<path d="M3.66667 6H12.3333M1.5 1H14.5M5.83333 11H10.1667" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
					span Фильтр
					span.colon : 
				.filters-panel__header-close(@click="isOpenedFilterPanel = false")
					+icon('i-close')(width="14" height="14")
			form.filters-panel__inner#filters-panel__list-js

				+filter-item({
					title: 'Цена'
				})
					+no-ui-slider({
						title: 'Розничная цена'
					})
					+no-ui-slider({
						title: 'Оптовая цена'
					})
				+filter-item({
					single_checkbox: true,
					title: 'В наличии'
				})
				+filter-item({
					mod: 'filter-item--checkboxes active',
					title: 'Степень обжарки <span class="count">(1)</span>'
				})
					+checkbox({
						mod: '',
						label: 'Хит (<b>3</b>)',
						value: '',
						name: 'offers'
					})(checked)
					+checkbox({
						mod: '',
						label: 'Акция (<b>1</b>)',
						value: '',
						name: 'offers'
					})(disabled)
				+filter-item({
					mod: 'filter-item--checkboxes',
					title: 'Кислотность'
				})
					+checkbox({
						mod: '',
						label: 'Другой (<b>6</b>)',
						value: '',
						name: 'processing'
					})
					+checkbox({
						mod: '',
						label: 'Мытая (<b>6</b>)',
						value: '',
						name: 'processing'
					})
					.filter-item__body-list-part
						+checkbox({
							mod: '',
							label: 'Сухая (<b>4</b>)',
							value: '',
							name: 'processing'
						})
						+checkbox({
							mod: '',
							label: 'Натуральная (<b>4</b>)',
							value: '',
							name: 'processing'
						})
						+checkbox({
							mod: '',
							label: 'Мытый (<b>6</b>)',
							value: '',
							name: 'processing'
						})
					template(x-if="!isOpenedPartList")
						.filter-item__body-list-more(@click="isOpenedPartList = ! isOpenedPartList") Показать все
					template(x-if="isOpenedPartList")
						.filter-item__body-list-more(@click="isOpenedPartList = ! isOpenedPartList") Свернуть
				+filter-item({
					mod: 'filter-item--checkboxes',
					title: 'Способ обработки'
				})
					+checkbox({
						mod: '',
						label: 'Другой (<b>6</b>)',
						value: '',
						name: 'processing'
					})
					+checkbox({
						mod: '',
						label: 'Мытая (<b>6</b>)',
						value: '',
						name: 'processing'
					})
					.filter-item__body-list-part
						+checkbox({
							mod: '',
							label: 'Сухая (<b>4</b>)',
							value: '',
							name: 'processing'
						})
						+checkbox({
							mod: '',
							label: 'Натуральная (<b>4</b>)',
							value: '',
							name: 'processing'
						})
						+checkbox({
							mod: '',
							label: 'Мытый (<b>6</b>)',
							value: '',
							name: 'processing'
						})
					template(x-if="!isOpenedPartList")
						.filter-item__body-list-more(@click="isOpenedPartList = ! isOpenedPartList") Показать все
					template(x-if="isOpenedPartList")
						.filter-item__body-list-more(@click="isOpenedPartList = ! isOpenedPartList") Свернуть
				+filter-item({
					mod: 'filter-item--checkboxes',
					title: 'Плотность'
				})
					+checkbox({
						mod: '',
						label: 'Алюминий (<b>6</b>)',
						value: '',
						name: 'material'
					})
					+checkbox({
						mod: '',
						label: 'Дерево (<b>6</b>)',
						value: '',
						name: 'material'
					})
					.filter-item__body-list-part
						+checkbox({
							mod: '',
							label: 'Искусственный мех (<b>6</b>)',
							value: '',
							name: 'material'
						})
						+checkbox({
							mod: '',
							label: 'Махра (<b>6</b>)',
							value: '',
							name: 'material'
						})
						+checkbox({
							mod: '',
							label: 'Металл (<b>6</b>)',
							value: '',
							name: 'material'
						})
						+checkbox({
							mod: '',
							label: 'Мрамор (<b>6</b>)',
							value: '',
							name: 'material'
						})
						+checkbox({
							mod: '',
							label: 'Натуральное волокно (<b>6</b>)',
							value: '',
							name: 'material'
						})
						+checkbox({
							mod: '',
							label: 'Нержавеющая сталь (<b>6</b>)',
							value: '',
							name: 'material'
						})
						+checkbox({
							mod: '',
							label: 'Перо (<b>6</b>)',
							value: '',
							name: 'material'
						})
					template(x-if="!isOpenedPartList")
						.filter-item__body-list-more(@click="isOpenedPartList = ! isOpenedPartList") Показать все
					template(x-if="isOpenedPartList")
						.filter-item__body-list-more(@click="isOpenedPartList = ! isOpenedPartList") Свернуть
				+filter-item({
					mod: 'filter-item--checkboxes',
					title: 'Способ обработки'
				})
					+checkbox({
						mod: '',
						label: 'Другой (<b>6</b>)',
						value: '',
						name: 'processing'
					})
					+checkbox({
						mod: '',
						label: 'Мытая (<b>6</b>)',
						value: '',
						name: 'processing'
					})
					.filter-item__body-list-part
						+checkbox({
							mod: '',
							label: 'Сухая (<b>4</b>)',
							value: '',
							name: 'processing'
						})
						+checkbox({
							mod: '',
							label: 'Натуральная (<b>4</b>)',
							value: '',
							name: 'processing'
						})
						+checkbox({
							mod: '',
							label: 'Мытый (<b>6</b>)',
							value: '',
							name: 'processing'
						})
					template(x-if="!isOpenedPartList")
						.filter-item__body-list-more(@click="isOpenedPartList = ! isOpenedPartList") Показать все
					template(x-if="isOpenedPartList")
						.filter-item__body-list-more(@click="isOpenedPartList = ! isOpenedPartList") Свернуть
				+filter-item({
					mod: 'filter-item--checkboxes',
					title: 'Плотность'
				})
					+checkbox({
						mod: '',
						label: 'Алюминий (<b>6</b>)',
						value: '',
						name: 'material'
					})
					+checkbox({
						mod: '',
						label: 'Дерево (<b>6</b>)',
						value: '',
						name: 'material'
					})
					.filter-item__body-list-part
						+checkbox({
							mod: '',
							label: 'Искусственный мех (<b>6</b>)',
							value: '',
							name: 'material'
						})
						+checkbox({
							mod: '',
							label: 'Махра (<b>6</b>)',
							value: '',
							name: 'material'
						})
						+checkbox({
							mod: '',
							label: 'Металл (<b>6</b>)',
							value: '',
							name: 'material'
						})
						+checkbox({
							mod: '',
							label: 'Мрамор (<b>6</b>)',
							value: '',
							name: 'material'
						})
						+checkbox({
							mod: '',
							label: 'Натуральное волокно (<b>6</b>)',
							value: '',
							name: 'material'
						})
						+checkbox({
							mod: '',
							label: 'Нержавеющая сталь (<b>6</b>)',
							value: '',
							name: 'material'
						})
						+checkbox({
							mod: '',
							label: 'Перо (<b>6</b>)',
							value: '',
							name: 'material'
						})
					template(x-if="!isOpenedPartList")
						.filter-item__body-list-more(@click="isOpenedPartList = ! isOpenedPartList") Показать все
					template(x-if="isOpenedPartList")
						.filter-item__body-list-more(@click="isOpenedPartList = ! isOpenedPartList") Свернуть
				.filters-panel__more
					span Еще
					<svg xmlns="http://www.w3.org/2000/svg" width="13" height="4" viewBox="0 0 13 4" fill="none">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M1.95632 3.31962C2.68511 3.31962 3.27592 2.72881 3.27592 2.00002C3.27592 1.27122 2.68511 0.68042 1.95632 0.68042C1.22752 0.68042 0.636719 1.27122 0.636719 2.00002C0.636719 2.72881 1.22752 3.31962 1.95632 3.31962ZM7.67458 2.00002C7.67458 2.72881 7.08377 3.31962 6.35498 3.31962C5.62619 3.31962 5.03538 2.72881 5.03538 2.00002C5.03538 1.27122 5.62619 0.68042 6.35498 0.68042C7.08377 0.68042 7.67458 1.27122 7.67458 2.00002ZM12.0732 2.00002C12.0732 2.72881 11.4824 3.31962 10.7536 3.31962C10.0248 3.31962 9.43404 2.72881 9.43404 2.00002C9.43404 1.27122 10.0248 0.68042 10.7536 0.68042C11.4824 0.68042 12.0732 1.27122 12.0732 2.00002Z" fill="#8A6048"/>
					</svg>
			.filters-panel__btns
				button.btn Показать 3
				button.filters-panel__btn 
					<svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 10" fill="none">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M8.8436 9.65663C9.13649 9.94953 9.61137 9.94953 9.90426 9.65663C10.1972 9.36374 10.1972 8.88887 9.90426 8.59597L6.36862 5.06033L9.90392 1.52502C10.1968 1.23213 10.1968 0.757258 9.90392 0.464364C9.61103 0.171471 9.13615 0.171471 8.84326 0.464364L5.30796 3.99967L1.90426 0.595974C1.61137 0.303082 1.13649 0.303081 0.843601 0.595974C0.550707 0.888868 0.550708 1.36374 0.843601 1.65663L4.2473 5.06033L0.843262 8.46436C0.550368 8.75726 0.550368 9.23213 0.843262 9.52502C1.13615 9.81792 1.61103 9.81792 1.90392 9.52502L5.30796 6.12099L8.8436 9.65663Z" fill="#ACACAC"/>
					</svg>
					span Очистить фильтр
	.filters-panel__bottom
		.filters-panel-btn
			span Сортировка:
		//- +select({
		//- 	title: 'По цене<a href="#">link</a>',
		//- 	with_links: true,
		//- 	list: [
		//- 		{name: `По цене <svg xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 11" fill="none">
		//- 			<path fill-rule="evenodd" clip-rule="evenodd" d="M5.39624 4.03018C5.20098 4.22544 4.8844 4.22544 4.68914 4.03018L3.36707 2.70811L3.36706 8.99401C3.36706 9.27015 3.14321 9.49401 2.86706 9.49401C2.59092 9.49401 2.36706 9.27015 2.36706 8.99401L2.36707 2.51652L0.853553 4.03003C0.658291 4.22529 0.341709 4.22529 0.146447 4.03003C-0.0488156 3.83477 -0.0488156 3.51819 0.146447 3.32293L2.38241 1.08696C2.39287 1.0742 2.40406 1.06183 2.41598 1.04991C2.50896 0.956933 2.62945 0.908228 2.75124 0.903798C2.88641 0.897905 3.02351 0.946563 3.12671 1.04977C3.13911 1.06217 3.15073 1.07506 3.16156 1.08838L5.39624 3.32307C5.5915 3.51833 5.5915 3.83491 5.39624 4.03018Z" fill="black"/>
		//- 			<path fill-rule="evenodd" clip-rule="evenodd" d="M9.17562 2.00586C9.17562 1.72972 8.95177 1.50586 8.67562 1.50586C8.39948 1.50586 8.17562 1.72972 8.17562 2.00586L8.17562 8.29273L6.85355 6.97067C6.65829 6.7754 6.34171 6.7754 6.14645 6.97067C5.95118 7.16593 5.95118 7.48251 6.14645 7.67777L8.38113 9.91246C8.39196 9.92578 8.40358 9.93867 8.41598 9.95107C8.51918 10.0543 8.65628 10.1029 8.79144 10.097C8.91324 10.0926 9.03373 10.0439 9.12671 9.95093C9.13863 9.93901 9.14982 9.92664 9.16028 9.91388L11.3962 7.67792C11.5915 7.48265 11.5915 7.16607 11.3962 6.97081C11.201 6.77555 10.8844 6.77555 10.6891 6.97081L9.17562 8.48432L9.17562 2.00586Z" fill="#ACACAC"/>
		//- 			</svg>`,
		//- 			active: true},
		//- 		{name: `По популярности <svg xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 11" fill="none">
		//- 			<path fill-rule="evenodd" clip-rule="evenodd" d="M5.39624 4.03018C5.20098 4.22544 4.8844 4.22544 4.68914 4.03018L3.36707 2.70811L3.36706 8.99401C3.36706 9.27015 3.14321 9.49401 2.86706 9.49401C2.59092 9.49401 2.36706 9.27015 2.36706 8.99401L2.36707 2.51652L0.853553 4.03003C0.658291 4.22529 0.341709 4.22529 0.146447 4.03003C-0.0488156 3.83477 -0.0488156 3.51819 0.146447 3.32293L2.38241 1.08696C2.39287 1.0742 2.40406 1.06183 2.41598 1.04991C2.50896 0.956933 2.62945 0.908228 2.75124 0.903798C2.88641 0.897905 3.02351 0.946563 3.12671 1.04977C3.13911 1.06217 3.15073 1.07506 3.16156 1.08838L5.39624 3.32307C5.5915 3.51833 5.5915 3.83491 5.39624 4.03018Z" fill="#ACACAC"/>
		//- 			<path fill-rule="evenodd" clip-rule="evenodd" d="M9.17562 2.00586C9.17562 1.72972 8.95177 1.50586 8.67562 1.50586C8.39948 1.50586 8.17562 1.72972 8.17562 2.00586L8.17562 8.29273L6.85355 6.97067C6.65829 6.7754 6.34171 6.7754 6.14645 6.97067C5.95118 7.16593 5.95118 7.48251 6.14645 7.67777L8.38113 9.91246C8.39196 9.92578 8.40358 9.93867 8.41598 9.95107C8.51918 10.0543 8.65628 10.1029 8.79144 10.097C8.91324 10.0926 9.03373 10.0439 9.12671 9.95093C9.13863 9.93901 9.14982 9.92664 9.16028 9.91388L11.3962 7.67792C11.5915 7.48265 11.5915 7.16607 11.3962 6.97081C11.201 6.77555 10.8844 6.77555 10.6891 6.97081L9.17562 8.48432L9.17562 2.00586Z" fill="#ACACAC"/>
		//- 			</svg>`},
		//- 	]
		//- })