+include-style('filters-panel')
+include-script('filters-panel')

mixin filter-item(args={})
	if(args.single_checkbox)
		// toggle
		.filter-item-toggle
			input(type="checkbox" name="" id="toggle1")
			label.filter-item(for="toggle1")
				.filter-item__check
					<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 14 12" fill="none">
						<path d="M13.0334 1.59397L5.7038 8.9236L1.42819 4.64798" stroke="black" stroke-width="1.5"/>
					</svg>
				.filter-item__header
					.filter-item__title!=args.title
			//- span
	else
		.filter-item(
			class=args.mod
			x-data="{isOpenedFilterItem: false, isOpenedPartList: false}"
			:class="[isOpenedFilterItem ? 'opened' : '', isOpenedPartList ? 'opened-part-list' : '']"
			@click.away="isOpenedFilterItem = false")
			.filter-item__header(@click="isOpenedFilterItem = ! isOpenedFilterItem")
				.filter-item__title
					span!=args.title
					+icon('i-arrow-down')(style="height:5px;width:7px")
				//- .filter-item__remove
				//- 	+icon('i-close')(style="width:8px;height:8px")
			.filter-item__body
				.filter-item__body-list
					block
				if(args.hint)
					.filter-item__body-hint
						.hint(x-data="{isHintOpened: false}"
							:class="isHintOpened ? 'opened' : ''"
							@click.away="isHintOpened = false")
							.hint__icon(@click="isHintOpened = ! isHintOpened") ?
							.hint__text Примечание
							.hint__body Пример подсказки

.filters-panel-relative
	.filters-panel-relative__top
		.filters-panel-btn.filters-panel-btn--active-filter(@click="isOpenedFilterPanel = ! isOpenedFilterPanel")
			span.icon-wrap
				<svg xmlns="http://www.w3.org/2000/svg" width="13" height="10" viewBox="0 0 16 12" fill="none">
					<path d="M3.66667 6H12.3333M1.5 1H14.5M5.83333 11H10.1667" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
			span Фильтр
		.filters-panel__btns.filters-panel__btns-mob
			button.filters-panel__btn
				<svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 10" fill="none">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M8.8436 9.65663C9.13649 9.94953 9.61137 9.94953 9.90426 9.65663C10.1972 9.36374 10.1972 8.88887 9.90426 8.59597L6.36862 5.06033L9.90392 1.52502C10.1968 1.23213 10.1968 0.757258 9.90392 0.464364C9.61103 0.171471 9.13615 0.171471 8.84326 0.464364L5.30796 3.99967L1.90426 0.595974C1.61137 0.303082 1.13649 0.303081 0.843601 0.595974C0.550707 0.888868 0.550708 1.36374 0.843601 1.65663L4.2473 5.06033L0.843262 8.46436C0.550368 8.75726 0.550368 9.23213 0.843262 9.52502C1.13615 9.81792 1.61103 9.81792 1.90392 9.52502L5.30796 6.12099L8.8436 9.65663Z" fill="#ACACAC"/>
				</svg>
				span Очистить фильтр
	.filters-panel(:class="isOpenedFilterPanel ? 'opened' : ''")
		.filters-panel__wrap
			.filters-panel__header-mob
				.mobile-nav__logo
					+lazy-img({
					wrap_mod: 'logo__img',
					img: `logo.png`
					})
					.mobile-nav__info Интернет-магазин свежего кофе
			.filters-panel__header
				.filters-panel-btn.filters-panel-btn--active-filter
					span.icon-wrap
						<svg xmlns="http://www.w3.org/2000/svg" width="13" height="10" viewBox="0 0 16 12" fill="none">
							<path d="M3.66667 6H12.3333M1.5 1H14.5M5.83333 11H10.1667" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
					span Фильтр
					span.colon : 
				.filters-panel__header-close(@click="isOpenedFilterPanel = false")
					+icon('i-close')(width="14" height="14")
			form.filters-panel__inner#filters-panel__list-js

				+filter-item({
					title: 'Цена'
				})
					+no-ui-slider({
						title: 'Розничная цена'
					})
					+no-ui-slider({
						title: 'Оптовая цена'
					})
				+filter-item({
					single_checkbox: true,
					title: 'В наличии'
				})
				+filter-item({
					mod: 'filter-item--checkboxes active',
					title: 'Степень обжарки <span class="count">(1)</span>'
				})
					+checkbox({
						mod: '',
						label: 'Хит (<b>3</b>)',
						value: '',
						name: 'offers'
					})(checked)
					+checkbox({
						mod: '',
						label: 'Акция (<b>1</b>)',
						value: '',
						name: 'offers'
					})(disabled)
				+filter-item({
					mod: 'filter-item--checkboxes',
					title: 'Кислотность'
				})
					+checkbox({
						mod: '',
						label: 'Другой (<b>6</b>)',
						value: '',
						name: 'processing'
					})
					+checkbox({
						mod: '',
						label: 'Мытая (<b>6</b>)',
						value: '',
						name: 'processing'
					})
					.filter-item__body-list-part
						+checkbox({
							mod: '',
							label: 'Сухая (<b>4</b>)',
							value: '',
							name: 'processing'
						})
						+checkbox({
							mod: '',
							label: 'Натуральная (<b>4</b>)',
							value: '',
							name: 'processing'
						})
						+checkbox({
							mod: '',
							label: 'Мытый (<b>6</b>)',
							value: '',
							name: 'processing'
						})
					template(x-if="!isOpenedPartList")
						.filter-item__body-list-more(@click="isOpenedPartList = ! isOpenedPartList") Показать все
					template(x-if="isOpenedPartList")
						.filter-item__body-list-more(@click="isOpenedPartList = ! isOpenedPartList") Свернуть
				+filter-item({
					mod: 'filter-item--checkboxes',
					title: 'Способ обработки'
				})
					+checkbox({
						mod: '',
						label: 'Другой (<b>6</b>)',
						value: '',
						name: 'processing'
					})
					+checkbox({
						mod: '',
						label: 'Мытая (<b>6</b>)',
						value: '',
						name: 'processing'
					})
					.filter-item__body-list-part
						+checkbox({
							mod: '',
							label: 'Сухая (<b>4</b>)',
							value: '',
							name: 'processing'
						})
						+checkbox({
							mod: '',
							label: 'Натуральная (<b>4</b>)',
							value: '',
							name: 'processing'
						})
						+checkbox({
							mod: '',
							label: 'Мытый (<b>6</b>)',
							value: '',
							name: 'processing'
						})
					template(x-if="!isOpenedPartList")
						.filter-item__body-list-more(@click="isOpenedPartList = ! isOpenedPartList") Показать все
					template(x-if="isOpenedPartList")
						.filter-item__body-list-more(@click="isOpenedPartList = ! isOpenedPartList") Свернуть
				+filter-item({
					mod: 'filter-item--checkboxes',
					title: 'Плотность'
				})
					+checkbox({
						mod: '',
						label: 'Алюминий (<b>6</b>)',
						value: '',
						name: 'material'
					})
					+checkbox({
						mod: '',
						label: 'Дерево (<b>6</b>)',
						value: '',
						name: 'material'
					})
					.filter-item__body-list-part
						+checkbox({
							mod: '',
							label: 'Искусственный мех (<b>6</b>)',
							value: '',
							name: 'material'
						})
						+checkbox({
							mod: '',
							label: 'Махра (<b>6</b>)',
							value: '',
							name: 'material'
						})
						+checkbox({
							mod: '',
							label: 'Металл (<b>6</b>)',
							value: '',
							name: 'material'
						})
						+checkbox({
							mod: '',
							label: 'Мрамор (<b>6</b>)',
							value: '',
							name: 'material'
						})
						+checkbox({
							mod: '',
							label: 'Натуральное волокно (<b>6</b>)',
							value: '',
							name: 'material'
						})
						+checkbox({
							mod: '',
							label: 'Нержавеющая сталь (<b>6</b>)',
							value: '',
							name: 'material'
						})
						+checkbox({
							mod: '',
							label: 'Перо (<b>6</b>)',
							value: '',
							name: 'material'
						})
					template(x-if="!isOpenedPartList")
						.filter-item__body-list-more(@click="isOpenedPartList = ! isOpenedPartList") Показать все
					template(x-if="isOpenedPartList")
						.filter-item__body-list-more(@click="isOpenedPartList = ! isOpenedPartList") Свернуть
				+filter-item({
					mod: 'filter-item--checkboxes',
					title: 'Способ обработки'
				})
					+checkbox({
						mod: '',
						label: 'Другой (<b>6</b>)',
						value: '',
						name: 'processing'
					})
					+checkbox({
						mod: '',
						label: 'Мытая (<b>6</b>)',
						value: '',
						name: 'processing'
					})
					.filter-item__body-list-part
						+checkbox({
							mod: '',
							label: 'Сухая (<b>4</b>)',
							value: '',
							name: 'processing'
						})
						+checkbox({
							mod: '',
							label: 'Натуральная (<b>4</b>)',
							value: '',
							name: 'processing'
						})
						+checkbox({
							mod: '',
							label: 'Мытый (<b>6</b>)',
							value: '',
							name: 'processing'
						})
					template(x-if="!isOpenedPartList")
						.filter-item__body-list-more(@click="isOpenedPartList = ! isOpenedPartList") Показать все
					template(x-if="isOpenedPartList")
						.filter-item__body-list-more(@click="isOpenedPartList = ! isOpenedPartList") Свернуть
				+filter-item({
					mod: 'filter-item--checkboxes',
					title: 'Плотность'
				})
					+checkbox({
						mod: '',
						label: 'Алюминий (<b>6</b>)',
						value: '',
						name: 'material'
					})
					+checkbox({
						mod: '',
						label: 'Дерево (<b>6</b>)',
						value: '',
						name: 'material'
					})
					.filter-item__body-list-part
						+checkbox({
							mod: '',
							label: 'Искусственный мех (<b>6</b>)',
							value: '',
							name: 'material'
						})
						+checkbox({
							mod: '',
							label: 'Махра (<b>6</b>)',
							value: '',
							name: 'material'
						})
						+checkbox({
							mod: '',
							label: 'Металл (<b>6</b>)',
							value: '',
							name: 'material'
						})
						+checkbox({
							mod: '',
							label: 'Мрамор (<b>6</b>)',
							value: '',
							name: 'material'
						})
						+checkbox({
							mod: '',
							label: 'Натуральное волокно (<b>6</b>)',
							value: '',
							name: 'material'
						})
						+checkbox({
							mod: '',
							label: 'Нержавеющая сталь (<b>6</b>)',
							value: '',
							name: 'material'
						})
						+checkbox({
							mod: '',
							label: 'Перо (<b>6</b>)',
							value: '',
							name: 'material'
						})
					template(x-if="!isOpenedPartList")
						.filter-item__body-list-more(@click="isOpenedPartList = ! isOpenedPartList") Показать все
					template(x-if="isOpenedPartList")
						.filter-item__body-list-more(@click="isOpenedPartList = ! isOpenedPartList") Свернуть
				.filters-panel__more
					span Еще
					<svg xmlns="http://www.w3.org/2000/svg" width="13" height="4" viewBox="0 0 13 4" fill="none">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M1.95632 3.31962C2.68511 3.31962 3.27592 2.72881 3.27592 2.00002C3.27592 1.27122 2.68511 0.68042 1.95632 0.68042C1.22752 0.68042 0.636719 1.27122 0.636719 2.00002C0.636719 2.72881 1.22752 3.31962 1.95632 3.31962ZM7.67458 2.00002C7.67458 2.72881 7.08377 3.31962 6.35498 3.31962C5.62619 3.31962 5.03538 2.72881 5.03538 2.00002C5.03538 1.27122 5.62619 0.68042 6.35498 0.68042C7.08377 0.68042 7.67458 1.27122 7.67458 2.00002ZM12.0732 2.00002C12.0732 2.72881 11.4824 3.31962 10.7536 3.31962C10.0248 3.31962 9.43404 2.72881 9.43404 2.00002C9.43404 1.27122 10.0248 0.68042 10.7536 0.68042C11.4824 0.68042 12.0732 1.27122 12.0732 2.00002Z" fill="#8A6048"/>
					</svg>
			.filters-panel__btns
				button.btn Показать 3
				button.filters-panel__btn 
					<svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 10" fill="none">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M8.8436 9.65663C9.13649 9.94953 9.61137 9.94953 9.90426 9.65663C10.1972 9.36374 10.1972 8.88887 9.90426 8.59597L6.36862 5.06033L9.90392 1.52502C10.1968 1.23213 10.1968 0.757258 9.90392 0.464364C9.61103 0.171471 9.13615 0.171471 8.84326 0.464364L5.30796 3.99967L1.90426 0.595974C1.61137 0.303082 1.13649 0.303081 0.843601 0.595974C0.550707 0.888868 0.550708 1.36374 0.843601 1.65663L4.2473 5.06033L0.843262 8.46436C0.550368 8.75726 0.550368 9.23213 0.843262 9.52502C1.13615 9.81792 1.61103 9.81792 1.90392 9.52502L5.30796 6.12099L8.8436 9.65663Z" fill="#ACACAC"/>
					</svg>
					span Очистить фильтр
	.filters-panel__bottom
		.filters-panel-btn
			span Сортировка:
		.filters-panel__sorts 
			.filters-panel__sort.filters-panel__sort-active
				span По цене
					// .filters-panel__sort-icon--up - вверх
					// .filters-panel__sort-icon--down - вниз
				<svg class="filters-panel__sort-icon filters-panel__sort-icon--up " xmlns="http://www.w3.org/2000/svg" width="13" height="11" viewBox="0 0 13 11" fill="none">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M5.93921 4.02981C5.74395 4.22507 5.42737 4.22507 5.2321 4.02981L3.91003 2.70774L3.91003 8.99364C3.91003 9.26978 3.68618 9.49364 3.41003 9.49364C3.13389 9.49364 2.91003 9.26978 2.91003 8.99364L2.91003 2.51615L1.39652 4.02967C1.20126 4.22493 0.884678 4.22493 0.689416 4.02967C0.494153 3.8344 0.494153 3.51782 0.689416 3.32256L2.92538 1.0866C2.93584 1.07383 2.94703 1.06146 2.95895 1.04955C3.05193 0.956566 3.17241 0.907861 3.29421 0.903431C3.42938 0.897539 3.56647 0.946196 3.66968 1.0494C3.68208 1.0618 3.6937 1.0747 3.70452 1.08802L5.93921 3.3227C6.13447 3.51796 6.13447 3.83455 5.93921 4.02981Z" fill="#ACACAC"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M9.71859 2.00537C9.71859 1.72923 9.49473 1.50537 9.21859 1.50537C8.94245 1.50537 8.71859 1.72923 8.71859 2.00537L8.71859 8.29225L7.39652 6.97018C7.20126 6.77491 6.88468 6.77491 6.68942 6.97018C6.49415 7.16544 6.49415 7.48202 6.68942 7.67728L8.9241 9.91197C8.93493 9.92529 8.94654 9.93818 8.95895 9.95058C9.06215 10.0538 9.19925 10.1024 9.33441 10.0966C9.45621 10.0921 9.5767 10.0434 9.66968 9.95044C9.6816 9.93852 9.69279 9.92616 9.70325 9.91339L11.9392 7.67743C12.1345 7.48217 12.1345 7.16558 11.9392 6.97032C11.7439 6.77506 11.4274 6.77506 11.2321 6.97032L9.71859 8.48383L9.71859 2.00537Z" fill="#ACACAC"/>
				</svg>
			.filters-panel__sort
				span По популярности
				<svg class="filters-panel__sort-icon " xmlns="http://www.w3.org/2000/svg" width="13" height="11" viewBox="0 0 13 11" fill="none">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M5.93921 4.02981C5.74395 4.22507 5.42737 4.22507 5.2321 4.02981L3.91003 2.70774L3.91003 8.99364C3.91003 9.26978 3.68618 9.49364 3.41003 9.49364C3.13389 9.49364 2.91003 9.26978 2.91003 8.99364L2.91003 2.51615L1.39652 4.02967C1.20126 4.22493 0.884678 4.22493 0.689416 4.02967C0.494153 3.8344 0.494153 3.51782 0.689416 3.32256L2.92538 1.0866C2.93584 1.07383 2.94703 1.06146 2.95895 1.04955C3.05193 0.956566 3.17241 0.907861 3.29421 0.903431C3.42938 0.897539 3.56647 0.946196 3.66968 1.0494C3.68208 1.0618 3.6937 1.0747 3.70452 1.08802L5.93921 3.3227C6.13447 3.51796 6.13447 3.83455 5.93921 4.02981Z" fill="#ACACAC"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M9.71859 2.00537C9.71859 1.72923 9.49473 1.50537 9.21859 1.50537C8.94245 1.50537 8.71859 1.72923 8.71859 2.00537L8.71859 8.29225L7.39652 6.97018C7.20126 6.77491 6.88468 6.77491 6.68942 6.97018C6.49415 7.16544 6.49415 7.48202 6.68942 7.67728L8.9241 9.91197C8.93493 9.92529 8.94654 9.93818 8.95895 9.95058C9.06215 10.0538 9.19925 10.1024 9.33441 10.0966C9.45621 10.0921 9.5767 10.0434 9.66968 9.95044C9.6816 9.93852 9.69279 9.92616 9.70325 9.91339L11.9392 7.67743C12.1345 7.48217 12.1345 7.16558 11.9392 6.97032C11.7439 6.77506 11.4274 6.77506 11.2321 6.97032L9.71859 8.48383L9.71859 2.00537Z" fill="#ACACAC"/>
				</svg>	
		.filters-panel__sorts-mob
			+select({
				title: 'По цене (возрастание)',
				with_links: true,
				list: [
					{name: `По цене (возрастание)`,
						active: true},
					{name: `По цене (убывание)`},
					{name: `По популярности (возрастание)`},
					{name: `По популярности (убывание)`},
				]
			})