mixin product-card2(args={})
	+include-style('mixin__product-card2')
	+include-script('mixin__product-card2')
	.product-block
		.product-block__badges
			if(args.badges === 1)
				+lazy-img({
					link: false,
					wrap_mod: 'product-block__badge-wrap',
					img_mod: '.product-block__badge__icon',
					img: `i-present.svg`,
				})
				+lazy-img({
					link: false,
					wrap_mod: 'product-block__badge-wrap',
					img_mod: '.product-block__badge__icon',
					img: `i-good.svg`,
				})
				+lazy-img({
					link: false,
					wrap_mod: 'product-block__badge-wrap',
					img_mod: '.product-block__badge__icon',
					img: `i-sale.svg`,
				})
				+lazy-img({
					link: false,
					wrap_mod: 'product-block__badge-wrap',
					img_mod: '.product-block__badge__icon',
					img: `i-cartt.svg`,
				})
				+lazy-img({
					link: false,
					wrap_mod: 'product-block__badge-wrap',
					img_mod: '.product-block__badge__icon',
					img: `i-review.svg`,
				})
			if(args.badges === 2)
				+lazy-img({
					link: false,
					wrap_mod: 'product-block__badge-wrap',
					img_mod: '.product-block__badge__icon',
					img: `i-present.svg`,
				})
				+lazy-img({
					link: false,
					wrap_mod: 'product-block__badge-wrap',
					img_mod: '.product-block__badge__icon',
					img: `i-good.svg`,
				})
		.product-block__inner
			.product-block__top
				a(href="#").product-block__title=args.title
				.product-block__subtitle Выпечка, Кленовый сироп, Макадамия
			.product-block__body
				.product-block__body-left 
					.product-block__body-group
						.product-block__rating
							if(args.no_rating)
								.product-block__stars
									+icon('i-star')(width="16" height="16").filled
									+icon('i-star')(width="16" height="16").filled
									+icon('i-star')(width="16" height="16").filled
									+icon('i-star')(width="16" height="16")
									+icon('i-star')(width="16" height="16")
							else
								.product-block__stars
									+icon('i-star')(width="16" height="16")
									+icon('i-star')(width="16" height="16")
									+icon('i-star')(width="16" height="16")
									+icon('i-star')(width="16" height="16")
									+icon('i-star')(width="16" height="16")
						.product-block__review
							+icon('i-review')(style="height:14px;width:14px")
							span 0 
							span.dn отзывов
					.product-block__grid
						.product-block__grid__item
							.product-block__grid__item-title Кислотность
							.product-block__grid__item-line.filled-1
						.product-block__grid__item
							.product-block__grid__item-title Плотность
							.product-block__grid__item-line.filled-2
				.product-block__body-right
					.product-block__img-wrap
						+lazy-img({
							wrap_mod: '.product-block__img',
							img: 'product.png'
							})
			.product-block__grid
				.product-block__grid__group
					.product-block__grid__item.select
						.product-block__grid__item-title Степень помола
						.product-block__grid__item-select
							+select({
								title: 'Не обжаривать',
								with_links: true,
								list: [
									{name: 'Не обжаривать', active: true},
									{name: 'Не молоть '},
									{name: 'Под чашку'},
									{name: 'Турка'},
									{name: 'Френч-пресс'},
									{name: 'Эспрессо Крупно'},
									{name: 'Эспрессо Тонко'},
									{name: 'Аэропресс'},
									{name: 'Мока'},
									{name: 'Пуровер'},
								]
							})
					.product-block__grid__item
						.product-block__grid__item-title Масса
						ul.product-block__grid__item-row
							li.active 200
							li 1000
			.product-block__action
				.product-block__prices
					.product-block__price 45.30&nbsp;руб.
				.product-block__favorite(class= args.active && 'active' )
					<svg width="21" height="21" viewBox="0 0 23 21" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M11.5429 4.18922C9.61684 1.90451 6.40498 1.28993 3.99174 3.38204C1.5785 5.47414 1.23875 8.97204 3.13388 11.4464C4.70955 13.5036 9.47809 17.8425 11.041 19.2469C11.2158 19.404 11.3032 19.4825 11.4052 19.5134C11.4942 19.5403 11.5916 19.5403 11.6806 19.5134C11.7826 19.4825 11.87 19.404 12.0449 19.2469C13.6077 17.8425 18.3763 13.5036 19.9519 11.4464C21.8471 8.97204 21.5488 5.45213 19.0941 3.38204C16.6394 1.31194 13.469 1.90451 11.5429 4.18922Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
				.product-block__compare
					//- +icon('i-compare')(style="width:20px;height:16px")
					<svg xmlns="http://www.w3.org/2000/svg" width="43" height="42" viewBox="0 0 43 42" fill="none">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M19.8764 13.75C19.8764 13.3358 19.5406 13 19.1264 13C18.7122 13 18.3764 13.3358 18.3764 13.75L18.3764 28.4879C18.3764 28.9021 18.7122 29.2379 19.1264 29.2379C19.5406 29.2379 19.8764 28.9021 19.8764 28.4879L19.8764 13.75ZM15.834 21.869C15.834 21.4547 15.4982 21.119 15.084 21.119C14.6698 21.119 14.334 21.4547 14.334 21.869V28.4879C14.334 28.9021 14.6698 29.2379 15.084 29.2379C15.4982 29.2379 15.834 28.9021 15.834 28.4879L15.834 21.869ZM23.1763 21.1191C23.5906 21.1191 23.9263 21.4549 23.9263 21.8691V28.4881C23.9263 28.9023 23.5906 29.2381 23.1763 29.2381C22.7621 29.2381 22.4263 28.9023 22.4263 28.4881V21.8691C22.4263 21.4549 22.7621 21.1191 23.1763 21.1191ZM27.9709 16.7949C27.9709 16.3807 27.6351 16.0449 27.2209 16.0449C26.8067 16.0449 26.4709 16.3807 26.4709 16.7949L26.4709 28.4882C26.4709 28.9024 26.8067 29.2382 27.2209 29.2382C27.6351 29.2382 27.9709 28.9024 27.9709 28.4882L27.9709 16.7949Z" fill="black"/>
					</svg>
				if(args.in_basket)
					.product-block__btns
						.product-block__buy.btn.btn-sm.btn-wave
							<svg width="15" height="15" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M14.5211 7.42233V4.6699C14.5211 2.64307 12.8175 1 10.716 1C8.61453 1 6.91093 2.64307 6.91093 4.6699V7.42233M2.71772 8.66273L2.14695 14.5346C1.98467 16.2041 1.90353 17.0389 2.19076 17.6836C2.44308 18.25 2.88525 18.7184 3.44641 19.0135C4.0852 19.3495 4.95451 19.3495 6.69313 19.3495H14.7389C16.4775 19.3495 17.3468 19.3495 17.9856 19.0135C18.5468 18.7184 18.989 18.25 19.2413 17.6836C19.5285 17.0389 19.4474 16.2041 19.2851 14.5346L18.7143 8.66273C18.5773 7.25292 18.5088 6.54801 18.18 6.01507C17.8905 5.54571 17.4628 5.17003 16.9512 4.93583C16.3704 4.6699 15.6363 4.6699 14.1681 4.6699L7.2639 4.6699C5.79574 4.6699 5.06166 4.6699 4.48082 4.93583C3.96927 5.17003 3.54152 5.54571 3.25201 6.01507C2.92328 6.54801 2.85476 7.25291 2.71772 8.66273Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
							span Купить
				else
					.product-block__counter.counter.btn-wave
						span.counter__action.counter__action--minus
						input.counter__count(type="text" value="1" maxlength="6")
						span.counter__action.counter__action--plus