mixin service-card(args={})
    +include-style('mixin__service-card')
    a(href="#").service-card
        .service-card__img
            +lazy-img({
                wrap_mod: 'service-item__img-wrap',
                img: args.img,
            })



        .service-card__content
            .service-card__title=args.title

            .service-card__desc
                p!=args.desc
            if(args.device)
                .service-card__footer
                    <svg class="icon" width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 6V5" stroke="#8A6048" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M8 6V5" stroke="#8A6048" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M12 14C13.1021 14 14 13.1021 14 12C14 10.8931 13.1021 10 12 10" stroke="#8A6048" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M1.75 8.75H11.25V15C11.25 16.2426 10.2426 17.25 9 17.25H4C2.75736 17.25 1.75 16.2426 1.75 15V8.75Z" stroke="#8A6048" stroke-width="1.5"/>
                    <mask id="path-5-inside-1_1514_7733" fill="white">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15 1H19.6667L21.6299 18.6687C21.8273 20.4458 20.4362 22 18.6482 22H18H15H3C1.34315 22 0 20.6569 0 19V17H15V1Z"/>
                    </mask>
                    <path d="M19.6667 1L21.1575 0.834353L21.0092 -0.5H19.6667V1ZM15 1V-0.5H13.5V1H15ZM21.6299 18.6687L23.1207 18.5031L21.6299 18.6687ZM0 17V15.5H-1.5V17H0ZM15 17V18.5H16.5V17H15ZM19.6667 -0.5H15V2.5H19.6667V-0.5ZM23.1207 18.5031L21.1575 0.834353L18.1758 1.16565L20.139 18.8344L23.1207 18.5031ZM18.6482 23.5C21.3303 23.5 23.4169 21.1687 23.1207 18.5031L20.139 18.8344C20.2378 19.7229 19.5422 20.5 18.6482 20.5V23.5ZM18 23.5H18.6482V20.5H18V23.5ZM15 23.5H18V20.5H15V23.5ZM3 23.5H15V20.5H3V23.5ZM-1.5 19C-1.5 21.4853 0.514719 23.5 3 23.5V20.5C2.17157 20.5 1.5 19.8284 1.5 19H-1.5ZM-1.5 17V19H1.5V17H-1.5ZM15 15.5H0V18.5H15V15.5ZM13.5 1V17H16.5V1H13.5Z" fill="#8A6048" mask="url(#path-5-inside-1_1514_7733)"/>
                    <path d="M20.25 0.75H0.75V2C0.75 3.24264 1.75736 4.25 3 4.25H18C19.2426 4.25 20.25 3.24264 20.25 2V0.75Z" fill="white" stroke="#8A6048" stroke-width="1.5"/>
                    </svg>


                    span Выбрать кофемашину
            if(args.catalog)
                .service-card__footer
                    <svg class="icon" width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.25417 16.4627C8.25417 16.4627 8.80035 13.9804 11.0275 13.0668C13.2547 12.1532 13.8009 9.67083 13.8009 9.67083" stroke="#8A6048" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <rect x="1.03571" width="9.4335" height="6.45164" rx="3.22582" transform="matrix(0.690476 -0.723356 0.690476 0.723356 4.82058 14.892)" stroke="#8A6048" stroke-width="1.5"/>
                    <path d="M19.2269 1.00568C19.2301 0.865422 19.1173 0.75 18.977 0.75H3.02299C2.88269 0.75 2.76986 0.865422 2.77305 1.00568L3.22759 21.0057C3.23068 21.1415 3.34167 21.25 3.47753 21.25H18.5225C18.6583 21.25 18.7693 21.1415 18.7724 21.0057L19.2269 1.00568Z" stroke="#8A6048" stroke-width="1.5"/>
                    <path d="M3 4.19049L19 4.19049" stroke="#8A6048" stroke-width="1.5"/>
                    <path d="M11 5.23809V3.14285" stroke="#8A6048" stroke-width="1.5" stroke-linecap="round"/>
                    </svg>

                    span Перейти в каталог
