+include-style('contacts')
+include-style('content')
+include-script('contacts')


.contacts.container
    .contacts__left
        .contacts-map
        .contacts__content.content
            h2 Региональные представительсва
            p Наша компания имеет широкую сеть региональных представительств и дилеров. Вы можете обратиться в ближайший к вам офис для получения дополнительных консультаций.
        .contacts-region
            h3 Московская область
            .contacts-region__list
                each i in [1,2,3]
                    .contacts-region__card
                        .contacts-region__card-img
                            +lazy-img({
                                link: true,
                                img: `contacts-1.jpg`,
                            })
                        .contacts-region__card-content
                            .contacts-region__card-list
                                a(href='#').contacts-region__card-address г. Москва, ул. Гагарина, 1а
                                a(href='#').contacts-region__card-map.mobile
                                    <svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10 5.09375C10 6.40373 9.49622 7.59606 8.67184 8.48755L4.88411 13.0328C4.58473 13.3921 4 13.1804 4 12.7127V9.99373C1.71776 9.53046 0 7.51271 0 5.09375C0 2.33233 2.23858 0.09375 5 0.09375C7.76142 0.09375 10 2.33233 10 5.09375ZM5 2.09375C6.65685 2.09375 8 3.4369 8 5.09375C8 6.7506 6.65685 8.09375 5 8.09375C3.34315 8.09375 2 6.7506 2 5.09375C2 3.4369 3.34315 2.09375 5 2.09375Z" fill="#3761E9"></path></svg>
                                    span На карте

                                .contacts-region__card-time
                                    +icon('i-time')(style="width:18px; height:18px")
                                    span Пн - Пт: 08:00 - 21:00
                                .contacts-region__card-pay
                                    each i in [1,3,2,6]
                                        span
                                            +lazy-img({
                                                link: true,
                                                img: `pay/pay-${i}.svg`
                                            })
                            .contacts-region__card-contacts
                                .contacts-region__card-link
                                    a(href="tel:+70000000000").contacts__item-text +7 (000) 000-00-00
                                    a(href="mailto:info@site.ru").contacts__item-text info@site.ru
                                a(href='#').contacts-region__card-map
                                    <svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10 5.09375C10 6.40373 9.49622 7.59606 8.67184 8.48755L4.88411 13.0328C4.58473 13.3921 4 13.1804 4 12.7127V9.99373C1.71776 9.53046 0 7.51271 0 5.09375C0 2.33233 2.23858 0.09375 5 0.09375C7.76142 0.09375 10 2.33233 10 5.09375ZM5 2.09375C6.65685 2.09375 8 3.4369 8 5.09375C8 6.7506 6.65685 8.09375 5 8.09375C3.34315 8.09375 2 6.7506 2 5.09375C2 3.4369 3.34315 2.09375 5 2.09375Z" fill="#3761E9"></path></svg>
                                    span На карте

        .contacts__content.content
            p Аспро: Лайтшоп — магазин полезных вещей для себя, дома, офиса и дачи. Здесь вы найдете товары под свои предпочтения: от аудиотехники и одежды до строительных материалов и велосипедов. Работаем с проверенными производителями с 2005 года. Доставляем товары точно в срок.
            p Покупка товара проста только на первый взгляд. Нужно думать о том, как оформить доставку, кто соберет шкаф или установит кондиционер. В нашем магазине эти услуги уже продуманы. Думайте только о подборе товаров в каталоге. Для этого предлагаем комплексный подход — наша команда выполнит все задачи!
        .contacts__btn
            .btn.btn-bordered Свяжитесь с нами

    .contacts__right
        .contacts__right--sticky

            +splide({
                mod: 'js-splide-contacts'
            })
                each item in [1,2]
                    +splide-slide()
                        span.contacts-slide
                            img.contacts-slide__img(src=pixel data-splide-lazy=`/html/images/contacts-${item}.jpg` alt='contact')
            .contacts__items
                div
                    .contacts__item
                        .contacts__item-title Адрес
                        .contacts__item-text г. Челябинск, ул. Энтузиастов, 30
                    .contacts__item
                        .contacts__item-title Режим работы
                        .contacts__item-text Пн - Пт: 9.00 - 18.00
                        .contacts__item-text Сб - Вс: выходные
                div
                    .contacts__item
                        .contacts__item-title Телефон
                        a(href="tel:+70000000000").contacts__item-text +7 (000) 000-00-00
                        a(href="tel:+70000000001").contacts__item-text +7 (000) 000-00-01
                    .contacts__item
                        .contacts__item-title E-mail
                        a(href="mailto:info@site.ru").contacts__item-text info@site.ru
            .contacts__socials.socials
                ul.socials__list
                    each item in ['i-vk','i-tg','i-tube']
                        li
                            +lazy-img({
                                link: true,
                                wrap_mod: 'socials__icon-wrap',
                                img_mod: 'socials__icon',
                                img: `socials/${item}.svg`,
                            })
                    li
                        +lazy-img({
                            link: true,
                            wrap_mod: 'socials__icon-wrap socials__icon-wrap--dark',
                            img_mod: 'socials__icon',
                            img: `socials/i-tiktok-dark.svg`,
                        })
                        +lazy-img({
                            link: true,
                            wrap_mod: 'socials__icon-wrap socials__icon-wrap--light',
                            img_mod: 'socials__icon',
                            img: `socials/i-tiktok-light.svg`,
                        })
                    li
                        +lazy-img({
                            link: true,
                            wrap_mod: 'socials__icon-wrap',
                            img_mod: 'socials__icon',
                            img: `socials/i-whatsapp.svg`,
                        })
                    li
                        +lazy-img({
                            link: true,
                            wrap_mod: 'socials__icon-wrap socials__icon-wrap--dark',
                            img_mod: 'socials__icon',
                            img: `socials/i-zen-dark.svg`,
                        })
                        +lazy-img({
                            link: true,
                            wrap_mod: 'socials__icon-wrap socials__icon-wrap--light',
                            img_mod: 'socials__icon',
                            img: `socials/i-zen-light.svg`,
                        })
                    li
                        +lazy-img({
                            link: true,
                            wrap_mod: 'socials__icon-wrap',
                            img_mod: 'socials__icon',
                            img: `socials/i-insta.svg`,
                        })
