+include-style('contacts')
+include-style('mixin__sticky-block')
//+include-style('content')
+include-script('contacts')


.contacts.container
    .contacts__left
        .contacts-map

        .contacts-region
            h3 Кофейни
            .contacts-region__list
                .contacts-region__card
                    .contacts-region__card-left
                        a(href='#').contacts-region__card-address Кофейня-магазин Blackmill, г. Минск, ул. Белинского 23
                        a(href='#').contacts-region__card-map
                            span Посмотреть на карте



                    .contacts-region__card-right
                        .contacts-region__card-list.contacts-region__card-list--time
                            span пн-пт с 8:00 до 20:00
                            span сб-вс выходной
                        .contacts-region__card-list.contacts-region__card-list--phone
                            a(href="#") +375 (29) 344-33-34
                    .contacts-region__card-info
                        <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17 12V7C17 3.68629 14.3137 1 11 1V1C7.68629 1 5 3.68629 5 7V12" stroke="#BB2749" stroke-width="1.5"/>
                        <path d="M14 15V15C14 16.6569 12.6569 18 11 18V18C9.34315 18 8 16.6569 8 15V15" stroke="#BB2749" stroke-width="1.5"/>
                        <path d="M4.63161 11.9478L3.92693 15.25H18.0732L17.3689 11.9479C17.3443 11.8325 17.2424 11.75 17.1244 11.75H4.87611C4.75814 11.75 4.65623 11.8325 4.63161 11.9478Z" stroke="#BB2749" stroke-width="1.5"/>
                        <path d="M11 20L11 22" stroke="#BB2749" stroke-width="1.5" stroke-linecap="round"/>
                        <path d="M7 20.8126L7.84524 19" stroke="#BB2749" stroke-width="1.5" stroke-linecap="round"/>
                        <path d="M14 19L14.8452 20.8126" stroke="#BB2749" stroke-width="1.5" stroke-linecap="round"/>
                        </svg>

                        p Наш офис совмещен с кофейней, поэтому вы всегда можете не только купить кофе домой, но и насладиться им из рук профессионалов
                each i in [1,2,3]
                    .contacts-region__card
                        .contacts-region__card-left
                            a(href='#').contacts-region__card-address Кофейня 1801, г. Минск, ул. Независимости 95
                            a(href='#').contacts-region__card-map
                                span Посмотреть на карте



                        .contacts-region__card-right
                            .contacts-region__card-list.contacts-region__card-list--time
                                span пн-пт с 8:00 до 20:00
                                span сб-вс с 9:00 до 21:00
                            .contacts-region__card-list.contacts-region__card-list--phone
                                a(href="#") +375 (29) 344-33-34




    .contacts__right

        .contacts__right--sticky
            .sticky-block.sticky-block--contacts
                .sticky-block__inner
                    .sticky-block__img
                        +lazy-img({
                            img: 'contacts.png'
                        })
                    .sticky-block__content
                        h3 Наш офис

                        .contacts__item
                            .contacts__item-icon
                                +icon('i-address')(style="height:19px;width:19px")

                            .contacts__item-text
                                p г. Минск, ул. Белинского 23 (вход в кофейню BlackMill)
                                span.desc Этот же адрес используется для почтовых отправлений
                        .contacts__item
                            .contacts__item-icon
                                +icon('i-time')(style="height:19px;width:19px")

                            .contacts__item-text
                                p пн-пт с 8:00 до 20:00<br>сб-вс с 9:00 до 21:00
                                span.desc Заказы через сайт — круглосуточно
                        .contacts__item
                            .contacts__item-icon
                                +icon('i-phone')(style="height:19px;width:19px")

                            .contacts__item-text
                                a(href="tel:+70000000000") +375 (33) 300-33-34

                        .contacts__item
                            .contacts__item-icon
                                +icon('i-email')(style="height:19px;width:19px")

                            .contacts__item-text
                                a(href="mailto:info@site.ru") info@roast.by

                    .sticky-block__btn(data-toggle="modal" data-target="#modal-feedback")
                        .btn Написать сообщение
