+include-style('contacts')
+include-style('mixin__sticky-block')
//+include-style('content')
+include-script('contacts')


.contacts.container
    .contacts__left
        .contacts-map

        .contacts-region
            h3 Кофейни
            .contacts-region__list
                .contacts-region__card
                    .contacts-region__card-left
                        a(href='#').contacts-region__card-address Кофейня-магазин Blackmill, г. Минск, ул. Белинского 23
                        a(href='#').contacts-region__card-map
                            span Посмотреть на карте



                    .contacts-region__card-right
                        .contacts-region__card-list.contacts-region__card-list--time
                            span пн-пт с 8:00 до 20:00
                            span сб-вс выходной
                        .contacts-region__card-list.contacts-region__card-list--phone
                            a(href="#") +375 (29) 344-33-34
                    .contacts-region__card-info
                        <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17 12V7C17 3.68629 14.3137 1 11 1V1C7.68629 1 5 3.68629 5 7V12" stroke="#BB2749" stroke-width="1.5"/>
                        <path d="M14 15V15C14 16.6569 12.6569 18 11 18V18C9.34315 18 8 16.6569 8 15V15" stroke="#BB2749" stroke-width="1.5"/>
                        <path d="M4.63161 11.9478L3.92693 15.25H18.0732L17.3689 11.9479C17.3443 11.8325 17.2424 11.75 17.1244 11.75H4.87611C4.75814 11.75 4.65623 11.8325 4.63161 11.9478Z" stroke="#BB2749" stroke-width="1.5"/>
                        <path d="M11 20L11 22" stroke="#BB2749" stroke-width="1.5" stroke-linecap="round"/>
                        <path d="M7 20.8126L7.84524 19" stroke="#BB2749" stroke-width="1.5" stroke-linecap="round"/>
                        <path d="M14 19L14.8452 20.8126" stroke="#BB2749" stroke-width="1.5" stroke-linecap="round"/>
                        </svg>

                        p Наш офис совмещен с кофейней, поэтому вы всегда можете не только купить кофе домой, но и насладиться им из рук профессионалов
                each i in [1,2,3]
                    .contacts-region__card
                        .contacts-region__card-left
                            a(href='#').contacts-region__card-address Кофейня 1801, г. Минск, ул. Независимости 95
                            a(href='#').contacts-region__card-map
                                span Посмотреть на карте



                        .contacts-region__card-right
                            .contacts-region__card-list.contacts-region__card-list--time
                                span пн-пт с 8:00 до 20:00
                                span сб-вс с 9:00 до 21:00
                            .contacts-region__card-list.contacts-region__card-list--phone
                                a(href="#") +375 (29) 344-33-34




    .contacts__right

        .contacts__right--sticky
            .sticky-block.sticky-block--contacts
                .sticky-block__inner
                    .sticky-block__img
                        +lazy-img({
                            img: 'contacts.png'
                        })
                    .sticky-block__content
                        h3 Наш офис

                        .contacts__item
                            .contacts__item-icon

                                <svg class="icon" width="19" height="21" viewBox="0 0 19 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.5 11.45C11.0533 11.45 12.3125 10.174 12.3125 8.6C12.3125 7.02599 11.0533 5.75 9.5 5.75C7.9467 5.75 6.6875 7.02599 6.6875 8.6C6.6875 10.174 7.9467 11.45 9.5 11.45Z" stroke="#8A6048" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M9.5 20C13.25 16.2 17 12.7974 17 8.6C17 4.40264 13.6421 1 9.5 1C5.35786 1 2 4.40264 2 8.6C2 12.7974 5.75 16.2 9.5 20Z" stroke="#8A6048" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>


                            .contacts__item-text
                                p г. Минск, ул. Белинского 23 (вход в кофейню BlackMill)
                                span.desc Этот же адрес используется для почтовых отправлений
                        .contacts__item
                            .contacts__item-icon
                                <svg class="icon" width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.5 8.99991C16.5 13.1399 13.14 16.4999 9 16.4999C4.86 16.4999 1.5 13.1399 1.5 8.99991C1.5 4.85991 4.86 1.49991 9 1.49991C13.14 1.49991 16.5 4.85991 16.5 8.99991Z" stroke="#8A6048" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M11.7827 11.3853L9.45766 9.99781C9.05266 9.75781 8.72266 9.18031 8.72266 8.70781V5.63281" stroke="#8A6048" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>

                            .contacts__item-text
                                p пн-пт с 8:00 до 20:00<br>сб-вс с 9:00 до 21:00
                                span.desc Заказы через сайт — круглосуточно
                        .contacts__item
                            .contacts__item-icon
                                <svg class="icon" width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15.3584 13.8556C15.3584 14.1033 15.3034 14.3579 15.1864 14.6057C15.0694 14.8534 14.9181 15.0873 14.7185 15.3075C14.3813 15.6791 14.0098 15.9474 13.59 16.1195C13.1772 16.2915 12.7299 16.3809 12.2482 16.3809C11.5464 16.3809 10.7964 16.2158 10.0051 15.8786C9.21375 15.5415 8.42244 15.0873 7.63801 14.5162C6.8467 13.9382 6.09668 13.2983 5.38106 12.5895C4.67233 11.8739 4.0324 11.1239 3.46128 10.3395C2.89704 9.55504 2.4429 8.77061 2.11262 7.99307C1.78233 7.20864 1.61719 6.45861 1.61719 5.743C1.61719 5.27509 1.69976 4.82783 1.8649 4.41498C2.03004 3.99524 2.29152 3.6099 2.65621 3.26586C3.09659 2.83236 3.57826 2.61905 4.08745 2.61905C4.28011 2.61905 4.47278 2.66033 4.6448 2.74291C4.82371 2.82548 4.98197 2.94933 5.10583 3.12824L6.7022 5.37831C6.82606 5.55033 6.91551 5.70859 6.97744 5.85997C7.03937 6.00447 7.07378 6.14897 7.07378 6.27971C7.07378 6.44485 7.02561 6.61 6.92928 6.76826C6.83982 6.92652 6.70908 7.09166 6.54394 7.2568L6.02099 7.8004C5.9453 7.87609 5.9109 7.96554 5.9109 8.07564C5.9109 8.13068 5.91778 8.17885 5.93154 8.2339C5.95218 8.28895 5.97282 8.33023 5.98659 8.37152C6.11044 8.59859 6.32375 8.89447 6.62651 9.25228C6.93616 9.61009 7.26644 9.97478 7.62425 10.3395C7.99582 10.7042 8.35363 11.0413 8.71832 11.351C9.07613 11.6537 9.37201 11.8602 9.60596 11.984C9.64037 11.9978 9.68165 12.0184 9.72982 12.0391C9.78487 12.0597 9.83991 12.0666 9.90184 12.0666C10.0188 12.0666 10.1083 12.0253 10.184 11.9496L10.7069 11.4335C10.8789 11.2615 11.0441 11.1308 11.2023 11.0482C11.3606 10.9519 11.5189 10.9037 11.6909 10.9037C11.8216 10.9037 11.9592 10.9312 12.1106 10.9932C12.262 11.0551 12.4203 11.1445 12.5923 11.2615L14.8699 12.8785C15.0488 13.0024 15.1726 13.1469 15.2483 13.3189C15.3171 13.4909 15.3584 13.663 15.3584 13.8556Z" stroke="#8A6048" stroke-width="1.5" stroke-miterlimit="10"/>
                                <path d="M12.9708 7.43563C12.9708 7.02277 12.6474 6.38972 12.1658 5.87365C11.7254 5.39887 11.1405 5.0273 10.5625 5.0273" stroke="#8A6048" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M15.3792 7.43574C15.3792 4.77281 13.2254 2.61908 10.5625 2.61908" stroke="#8A6048" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>

                            .contacts__item-text
                                a(href="tel:+70000000000") +375 (33) 300-33-34

                        .contacts__item
                            .contacts__item-icon
                                <svg class="icon" width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.61719 7.4999C1.61719 4.9999 3.07433 3.92847 5.26004 3.92847H12.5458C14.7315 3.92847 16.1886 4.9999 16.1886 7.4999V12.4999C16.1886 14.9999 14.7315 16.0713 12.5458 16.0713H5.26004" stroke="#8A6048" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M12.9546 7.9762L10.4208 9.27559C8.90699 10 8.90699 10 7.38509 9.27559L4.85938 7.9762" stroke="#8A6048" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M0.808594 13.6428H4.85621" stroke="#8A6048" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M0.808594 10.4048H2.42764" stroke="#8A6048" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>

                            .contacts__item-text
                                a(href="mailto:info@site.ru") info@roast.by

                    .sticky-block__btn(data-toggle="modal" data-target="#modal-feedback")
                        .btn Написать сообщение
