+include-style('content')

+include-style('accordion')
.accordion
    .accordion-inner
        .accordion-item(x-data="{open: false}" :class="open ? 'active' :''" )
            .accordion-item__title( @click="open = !open" )
                span Как осуществляется доставка в регионы?
                .icon
                    span
            //.accordion-item__body(x-show= "open")
            .accordion-item__body(x-show= "open" x-transition:enter.duration.350ms x-transition.opacity)
                .accordion-item__body-content.content
                    p Предусмотрено несколько вариантов доставки: транспортные компании, курьерская доставка и почта России.

                    p Вы можете выбрать любой удобный для вас способ и указать желаемую дату доставки. Оплата рассчитывается автоматически при указании региона и даты.

                    p Для более точного расчета стоимости доставки обращайтесь к менеджерам в онлайн-чат.
        .accordion-item(x-data="{open: false}" :class="open ? 'active' :''" )
            .accordion-item__title( @click="open = !open" )
                span Как осуществляется доставка в регионы?
                .icon
                    span
            //.accordion-item__body(x-show= "open")
            .accordion-item__body(x-show= "open" x-transition:enter.duration.350ms x-transition.opacity)
                .accordion-item__body-content.content
                    p Предусмотрено несколько вариантов доставки: транспортные компании, курьерская доставка и почта России.

                    p Вы можете выбрать любой удобный для вас способ и указать желаемую дату доставки. Оплата рассчитывается автоматически при указании региона и даты.

                    p Для более точного расчета стоимости доставки обращайтесь к менеджерам в онлайн-чат.
        .accordion-item(x-data="{open: false}" :class="open ? 'active' :''" )
            .accordion-item__title( @click="open = !open" )
                span Как осуществляется доставка в регионы?
                .icon
                    span
            //.accordion-item__body(x-show= "open")
            .accordion-item__body(x-show= "open" x-transition:enter.duration.350ms x-transition.opacity)
                .accordion-item__body-content.content
                    p Предусмотрено несколько вариантов доставки: транспортные компании, курьерская доставка и почта России.

                    p Вы можете выбрать любой удобный для вас способ и указать желаемую дату доставки. Оплата рассчитывается автоматически при указании региона и даты.

                    p Для более точного расчета стоимости доставки обращайтесь к менеджерам в онлайн-чат.
        .accordion-item(x-data="{open: false}" :class="open ? 'active' :''" )
            .accordion-item__title( @click="open = !open" )
                span Как осуществляется доставка в регионы?
                .icon
                    span
            //.accordion-item__body(x-show= "open")
            .accordion-item__body(x-show= "open" x-transition:enter.duration.350ms x-transition.opacity)
                .accordion-item__body-content.content
                    p Предусмотрено несколько вариантов доставки: транспортные компании, курьерская доставка и почта России.

                    p Вы можете выбрать любой удобный для вас способ и указать желаемую дату доставки. Оплата рассчитывается автоматически при указании региона и даты.

                    p Для более точного расчета стоимости доставки обращайтесь к менеджерам в онлайн-чат.
        .accordion-item(x-data="{open: false}" :class="open ? 'active' :''" )
            .accordion-item__title( @click="open = !open" )
                span Как осуществляется доставка в регионы?
                .icon
                    span
            //.accordion-item__body(x-show= "open")
            .accordion-item__body(x-show= "open" x-transition:enter.duration.350ms x-transition.opacity)
                .accordion-item__body-content.content
                    p Предусмотрено несколько вариантов доставки: транспортные компании, курьерская доставка и почта России.

                    p Вы можете выбрать любой удобный для вас способ и указать желаемую дату доставки. Оплата рассчитывается автоматически при указании региона и даты.

                    p Для более точного расчета стоимости доставки обращайтесь к менеджерам в онлайн-чат.
        .accordion-item(x-data="{open: false}" :class="open ? 'active' :''" )
            .accordion-item__title( @click="open = !open" )
                span Как осуществляется доставка в регионы?
                .icon
                    span
            //.accordion-item__body(x-show= "open")
            .accordion-item__body(x-show= "open" x-transition:enter.duration.350ms x-transition.opacity)
                .accordion-item__body-content.content
                    p Предусмотрено несколько вариантов доставки: транспортные компании, курьерская доставка и почта России.

                    p Вы можете выбрать любой удобный для вас способ и указать желаемую дату доставки. Оплата рассчитывается автоматически при указании региона и даты.

                    p Для более точного расчета стоимости доставки обращайтесь к менеджерам в онлайн-чат.
        .accordion-item(x-data="{open: false}" :class="open ? 'active' :''" )
            .accordion-item__title( @click="open = !open" )
                span Как осуществляется доставка в регионы?
                .icon
                    span
            //.accordion-item__body(x-show= "open")
            .accordion-item__body(x-show= "open" x-transition:enter.duration.350ms x-transition.opacity)
                .accordion-item__body-content.content
                    p Предусмотрено несколько вариантов доставки: транспортные компании, курьерская доставка и почта России.

                    p Вы можете выбрать любой удобный для вас способ и указать желаемую дату доставки. Оплата рассчитывается автоматически при указании региона и даты.

                    p Для более точного расчета стоимости доставки обращайтесь к менеджерам в онлайн-чат.
        .accordion-item(x-data="{open: false}" :class="open ? 'active' :''" )
            .accordion-item__title( @click="open = !open" )
                span Как осуществляется доставка в регионы?
                .icon
                    span
            //.accordion-item__body(x-show= "open")
            .accordion-item__body(x-show= "open" x-transition:enter.duration.350ms x-transition.opacity)
                .accordion-item__body-content.content
                    p Предусмотрено несколько вариантов доставки: транспортные компании, курьерская доставка и почта России.

                    p Вы можете выбрать любой удобный для вас способ и указать желаемую дату доставки. Оплата рассчитывается автоматически при указании региона и даты.

                    p Для более точного расчета стоимости доставки обращайтесь к менеджерам в онлайн-чат.
        .accordion-item(x-data="{open: false}" :class="open ? 'active' :''" )
            .accordion-item__title( @click="open = !open" )
                span Как осуществляется доставка в регионы?
                .icon
                    span
            //.accordion-item__body(x-show= "open")
            .accordion-item__body(x-show= "open" x-transition:enter.duration.350ms x-transition.opacity)
                .accordion-item__body-content.content
                    p Предусмотрено несколько вариантов доставки: транспортные компании, курьерская доставка и почта России.

                    p Вы можете выбрать любой удобный для вас способ и указать желаемую дату доставки. Оплата рассчитывается автоматически при указании региона и даты.

                    p Для более точного расчета стоимости доставки обращайтесь к менеджерам в онлайн-чат.
        .accordion-item(x-data="{open: false}" :class="open ? 'active' :''" )
            .accordion-item__title( @click="open = !open" )
                span Как осуществляется доставка в регионы?
                .icon
                    span
            //.accordion-item__body(x-show= "open")
            .accordion-item__body(x-show= "open" x-transition:enter.duration.350ms x-transition.opacity)
                .accordion-item__body-content.content
                    p Предусмотрено несколько вариантов доставки: транспортные компании, курьерская доставка и почта России.

                    p Вы можете выбрать любой удобный для вас способ и указать желаемую дату доставки. Оплата рассчитывается автоматически при указании региона и даты.

                    p Для более точного расчета стоимости доставки обращайтесь к менеджерам в онлайн-чат.
        .accordion-item(x-data="{open: false}" :class="open ? 'active' :''" )
            .accordion-item__title( @click="open = !open" )
                span Как осуществляется доставка в регионы?
                .icon
                    span
            //.accordion-item__body(x-show= "open")
            .accordion-item__body(x-show= "open" x-transition:enter.duration.350ms x-transition.opacity)
                .accordion-item__body-content.content
                    p Предусмотрено несколько вариантов доставки: транспортные компании, курьерская доставка и почта России.

                    p Вы можете выбрать любой удобный для вас способ и указать желаемую дату доставки. Оплата рассчитывается автоматически при указании региона и даты.

                    p Для более точного расчета стоимости доставки обращайтесь к менеджерам в онлайн-чат.
        .accordion-item(x-data="{open: false}" :class="open ? 'active' :''" )
            .accordion-item__title( @click="open = !open" )
                span Как осуществляется доставка в регионы?
                .icon
                    span
            //.accordion-item__body(x-show= "open")
            .accordion-item__body(x-show= "open" x-transition:enter.duration.350ms x-transition.opacity)
                .accordion-item__body-content.content
                    p Предусмотрено несколько вариантов доставки: транспортные компании, курьерская доставка и почта России.

                    p Вы можете выбрать любой удобный для вас способ и указать желаемую дату доставки. Оплата рассчитывается автоматически при указании региона и даты.

                    p Для более точного расчета стоимости доставки обращайтесь к менеджерам в онлайн-чат.
