@import "src/assets/css/vars_mixins/vars_mixins";

.accordion {
	&-inner {
		background-color: #ffffff;

	}

	&-item {
		//padding: 18px 18px 22px 23px;
		border: 1px solid $a5;
		transition: box-shadow ease .3s, border ease .3s, background ease .3s;

		&:hover {
			//cursor: pointer;
			border-color: #fff;
			box-shadow: 0 5px 30px rgba(34, 34, 34, 0.1);

		}

		&:not(:first-child) {
			border-top: 0;
		}


		&__title {
			font-weight: 500;
			padding: 25px;
			padding-right: 45px;
			transition: all ease .3s;
			min-height: auto;
			display: flex;
			justify-content: space-between;
			align-items: center;
			cursor: pointer;
			position: relative;
			@media (max-width: $sm - 1) {
				padding: 20px;
				padding-right: 45px;
			}

			&:hover {
				cursor: pointer;

			}
		}

		.icon {
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			right: 25px;
			top: 34px;

			z-index: 2;

			span {
				position: relative;
				width: 15px;
				height: 15px;

				&:before,
				&:after {
					content: '';
					position: absolute;
					display: block;
					width: 15px;
					height: 1px;
					background-color: $accent;
					margin: 0 auto;
					transition: all ease .3s;
				}

				&:after {
					transform: rotate(90deg);
				}

			}
		}

		&__body {
			padding: 0 25px 25px;
			color: $b3;
			@media (max-width: $md - 1) {
				padding: 0 20px 20px;
			}
			p{
				margin-bottom: 15px;
			}

		}

		&.active {
			.icon {
				span {
					&:after {
						transform: rotate(0deg);
					}
				}
			}
		}
	}
}
