mixin product-card(args={})
	+include-style('mixin__product-card')
	+include-script('mixin__product-card')
	.product-card-wrap
		.product-card
			.product-card__inner
				.product-card__top
					.product-card__top-badges
						if(args.badges === 1)
							+lazy-img({
								link: false,
								wrap_mod: 'product-card__badge-wrap',
								img_mod: '.product-card__badge__icon',
								img: `i-present.svg`,
							})
							+lazy-img({
								link: false,
								wrap_mod: 'product-card__badge-wrap',
								img_mod: '.product-card__badge__icon',
								img: `i-good.svg`,
							})
						if(args.badges === 5)
							+lazy-img({
								link: false,
								wrap_mod: 'product-card__badge-wrap',
								img_mod: '.product-card__badge__icon',
								img: `i-present.svg`,
							})
							+lazy-img({
								link: false,
								wrap_mod: 'product-card__badge-wrap',
								img_mod: '.product-card__badge__icon',
								img: `i-good.svg`,
							})
							+lazy-img({
								link: false,
								wrap_mod: 'product-card__badge-wrap',
								img_mod: '.product-card__badge__icon',
								img: `i-sale.svg`,
							})
							+lazy-img({
								link: false,
								wrap_mod: 'product-card__badge-wrap',
								img_mod: '.product-card__badge__icon',
								img: `i-cartt.svg`,
							})
							+lazy-img({
								link: false,
								wrap_mod: 'product-card__badge-wrap',
								img_mod: '.product-card__badge__icon',
								img: `i-review.svg`,
							})
					.product-card__images
						+lazy-img({
							wrap_mod: 'product-card__img',
							img: 'product-tea.png'
							})
				.product-card__info
					.product-card__info-line
						.product-card__rating
							+icon('i-star')(width="16" height="16").filled
							+icon('i-star')(width="16" height="16").filled
							+icon('i-star')(width="16" height="16").filled
							+icon('i-star')(width="16" height="16")
							+icon('i-star')(width="16" height="16")
						.product-card__review
							+icon('i-review')(style="height:14px;width:14px")
							span 0 
							span отзывов
					a(href="#").product-card__title=args.title	
					.product-card__info-body
						.product-card__prices
							.product-card__price-new 45.30 руб.
							if(args.no_price_old)
								.product-card__price-old 
									span 48.30 руб.
									.discount
										<svg xmlns="http://www.w3.org/2000/svg" width="4" height="5" viewBox="0 0 4 5" fill="none">
											<path d="M0.5 2.5L3.5 0.334936L3.5 4.66506L0.5 2.5Z" fill="#D64A4A"></path>
										</svg> 
										span -10%
						.product-card__grid
							.product-card__grid-title Масса
							.product-card__grid-property 100
				.product-card__actions
					.product-card__actions-inner
						.product-card__favorite(class= args.active && 'active' )
							<svg width="21" height="21" viewBox="0 0 23 21" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M11.5429 4.18922C9.61684 1.90451 6.40498 1.28993 3.99174 3.38204C1.5785 5.47414 1.23875 8.97204 3.13388 11.4464C4.70955 13.5036 9.47809 17.8425 11.041 19.2469C11.2158 19.404 11.3032 19.4825 11.4052 19.5134C11.4942 19.5403 11.5916 19.5403 11.6806 19.5134C11.7826 19.4825 11.87 19.404 12.0449 19.2469C13.6077 17.8425 18.3763 13.5036 19.9519 11.4464C21.8471 8.97204 21.5488 5.45213 19.0941 3.38204C16.6394 1.31194 13.469 1.90451 11.5429 4.18922Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
						if(args.in_basket)
							.product-card__btns
								.product-card__buy.btn.btn-sm.btn-wave
									<svg width="15" height="15" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M14.5211 7.42233V4.6699C14.5211 2.64307 12.8175 1 10.716 1C8.61453 1 6.91093 2.64307 6.91093 4.6699V7.42233M2.71772 8.66273L2.14695 14.5346C1.98467 16.2041 1.90353 17.0389 2.19076 17.6836C2.44308 18.25 2.88525 18.7184 3.44641 19.0135C4.0852 19.3495 4.95451 19.3495 6.69313 19.3495H14.7389C16.4775 19.3495 17.3468 19.3495 17.9856 19.0135C18.5468 18.7184 18.989 18.25 19.2413 17.6836C19.5285 17.0389 19.4474 16.2041 19.2851 14.5346L18.7143 8.66273C18.5773 7.25292 18.5088 6.54801 18.18 6.01507C17.8905 5.54571 17.4628 5.17003 16.9512 4.93583C16.3704 4.6699 15.6363 4.6699 14.1681 4.6699L7.2639 4.6699C5.79574 4.6699 5.06166 4.6699 4.48082 4.93583C3.96927 5.17003 3.54152 5.54571 3.25201 6.01507C2.92328 6.54801 2.85476 7.25291 2.71772 8.66273Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
									</svg>
									span Купить
						else
							.product-card__btns
								.counter.btn-wave
									span.counter__action.counter__action--minus
									input.counter__count(type="text" value="1" maxlength="6")
									span.counter__action.counter__action--plus
