@import "src/assets/css/vars_mixins/vars_mixins";

.product-card-wrap.hover {
  position: relative;
  z-index: 4;

  .product-card {
    height: auto;
  }

  .product-card__offers {
    display: block;
  }

  //.product-card__title {
  //	color: var(--fill_dark_lite_hover);
  //}
}

//@media (max-width: $sm - 1) {
//	.product-card-wrap.clicked {
//		.product-card__title {
//			color: var(--fill_dark_lite_hover);
//		}
//	}
//}

.product-card {
  height: 100%;
  min-width: 0;
  padding: 35px 25px 30px 25px;
  background: #fff;
  transition: box-shadow ease 0.3s, border ease 0.3s, background ease 0.3s;
  border: 1px solid #e3e3e3;

  &:hover {
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
    z-index: 1;

    // .product-card__title {
    //   color: $accent;
    // }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    position: relative;
  }

  &__top {
    // width: 100%;
    // position: relative;
    // padding-top: 100%;
    margin: 0 auto;
    // text-align: center;
    display: block;

    a {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
    }
  }

  &__top-badges {
    position: absolute;
    z-index: 3;
    top: -20px;
    right: -10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__images {
    padding-bottom: 10px;
  }
  &__img {
    height: 215px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__bottom-badges {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
  }

  &__info {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-basis: auto;
    gap: 20px;
  }
  &__info-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__prices {
  }

  &__price-new {
    white-space: nowrap;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    color: $basic_black;
  }

  &__price-old {
    margin-top: 3px;
    display: flex;
    white-space: nowrap;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    color: #757575;
    span {
      text-decoration: line-through;
    }
    .discount {
      margin-left: 7px;
      span {
        text-decoration: none;
      }
    }
  }
  &__grid {
    display: flex;
    align-items: center;
    gap: 5px;
    &-title {
      color: #757575;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    &-property {
      padding: 6px 10px;
      color: #000;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      border: 1px solid #8a6048;
    }
  }
  &__title {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    display: -moz-box;
    -moz-box-orient: vertical;
    -moz-line-clamp: 4;
    overflow: hidden;
    color: $basic_black;
  }

  &__info-line {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e3e3e3;
  }

  &__rating {
    display: flex;
    gap: 1px;
    fill: #e3e3e3;
    .filled {
      fill: $accent;
    }
  }

  &__review {
    fill: $basic_black;
    display: flex;
    align-items: center;
    span {
      color: $basic_black;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-left: 5px;
    }
  }

  &__sku {
    color: #999;
    font-size: 0.8125rem;
    line-height: calc(1em + 7px);
  }

  &__actions {
    margin-top: 20px;
    position: relative;
  }

  &__actions-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    justify-content: normal;
  }

  &__btns {
    width: 160px;
    .counter {
      height: 42px;
      width: 160px;
    }
    .counter__action {
      flex: 0 0 52px;
    }
  }

  &__buy {
    fill: #fff;
    padding: 10px 35px;
    font-size: 15px;
    height: 42px;
    width: 160px;
    svg path {
      stroke: #fff;
    }
    &.btn {
      height: 42px;
    }
    @media (max-width: 1280px) {
      padding: 10px 21px;
    }
  }

  &__more {
    display: none;
  }

  &__favorite {
    background: #f8f8f8;
    border-radius: 50%;
    fill: $basic_black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42px;
    width: 42px;
    cursor: pointer;
    transition: background 0.3s;
    svg path {
      transition: 0.3s;
    }
    &:hover {
      background: $accent;
      svg path {
        stroke: #fff;
      }
    }
    &.active {
      background: $basic_black;
      svg path {
        stroke: #fff;
      }
    }
  }
}

// 1199.75
@media (max-width: $lg) {
}

// 991.75
@media (max-width: $md) {
}

// 767.75
@media (max-width: $sm) {
  .product-card {
    &__actions {
      display: flex;
      flex-direction: column-reverse;
    }

    &__btns {
      width: auto;
      flex: 1;

      .btn {
        width: 100%;
      }
      .counter {
        width: 100%;
      }
    }

    &__offers {
      display: block;
      margin-bottom: 10px;
    }
  }
}

// 600.75
@media (max-width: $xs) {
  .product-card__info {
    gap: 15px;
  }
  .product-card__btns .counter__action {
    flex: 0 0 65px;
  }
  // .product-card-wrap {
  //   width: 260px;
  //   min-width: 260px;

  //   &:not(:last-child) {
  //     margin-right: 24px;
  //   }
  // }
  // .product-card {
  //   &__top-badges {
  //     display: none;
  //   }

  //   &__dots {
  //     display: none;
  //   }

  //   &__offers {
  //     display: none !important;
  //   }
  // }
  // .product-card--offers {
  //   .product-card {
  //     &__more {
  //       display: flex;
  //     }

  //     &__buy {
  //       display: none;
  //     }
  //   }

  //   .counter {
  //     display: none !important;
  //   }
  // }
}
