+include-style('sales')
//+include-style('sales-section')
.container
    .custom-grid
        .custom-grid__content
            .sales__list
                include ../accordion/accordion
        .custom-grid__sticky
            +sticky-block({
                img: 'service-1.png',
                btn: 'Написать сообщение'
            })
                block body
                    h4 Не нашли ответа на свой вопрос?
                    p Свяжитесь с нами, и мы предоставим необходимую информацию

