+include-style('sales')
+include-style('content')
.container
    .custom-grid
        .custom-grid__content.content
            h1 Система скидок
            ol
                li.black <b>Кофе и чай недели</b>
                    p На кофе и чай недели действует скидка — 15%
                li.black <b>Скидка за количество</b>
                    ul
                        li При заказе двух одинаковых пачек кофе - скидка 4%
                        li При заказе двух одинаковых пачек кофе - скидка 4%
                        li При заказе двух одинаковых пачек кофе - скидка 4%
                li.black <b>Накопительная система</b>
                    p За каждые 50 рублей в заказе вы получаете +1% к накопительной скидке на следующие заказы. Максимальная скидка — 10%. Скидка рассчитывается за весь период, то есть если вы сделаете заказ на 40 рублей, потом еще на 40 рублей, то на третий заказ уже будет действовать скидка 1%. Не суммируется со скидкой на товар недели и действует только на кофе и чай

        .custom-grid__sticky
            +sticky-block({
                img: 'service-2.png',
                btn: 'Написать сообщение'
            })
                block body
                    h4 Не нашли нужную информацию?
                    p Свяжитесь с нами, и мы предоставим необходимую информацию

