extends ../../layout/layout

block vars
    - var pageTitle = 'Вопрос-ответ'
    - var pageBodyClass = ''
    - var dir = './'


block premain
    .container
        .page-top
            +breadcrumbs({
                content2: 'Вопрос-ответ',
                href_content2: '',
                content3: ''
            })
            .page-top__header
                h1.page-top__title Вопрос-ответ
    .container
        +tabs({
            list: [
                {
                    name: 'Вопрос-ответ',
                    mod: 'active'
                },
                {name: 'Система скидок'},
                {name: 'Оплата'},
                {name: 'Доставка'},
                {name: 'Гарантия'},
                {name: 'Как оформить заказ'},
                {name: 'Политика'},
            ]
        })
block main
    include ../../components/sales/sales
    include ../../components/subscription/subscription


block pageModal

block componentsCriticalStyles
    +componentsCriticalStyles-includer()
block vendorScripts
    +vendorScripts-includer()
block componentsStyles
    +style-includer()
block componentsScripts
    +componentsScripts-includer()
